$('#article-<%= @article.id %> #article_completed-icon').html('<p class="article_incomplete-icon article_completed-icon">未完了</p>');
$('#article-<%= @article.id %> #article_complete-button').html( "<%= escape_javascript( @article.decorate.completed_button ) %>" );
