$("#article-<%= @article.id %> #article_completed-icon").html('<p class="article_complete-icon article_completed-icon">完了済み</p>');
$('#article-<%= @article.id %> #article_complete-button').html( "<%= escape_javascript( @article.decorate.completed_button ) %>" );
