<% provide(:title, "機能一覧") %>

<div class='functions-container'>
  <div class='page-title-wrapper'>
    <h2 class='default-page-title'>機能一覧</h2>
  </div>
  <%= react_component('Functions') %>
  </div>
