<div class='rp_wrapper'>
  <div class="arrow-down icon"></div>
  <div class='rp_main-visual'>
    <div class='main-visual_image'>
      <div class='main-visual_whiteback'></div>
      <div class='main-visual_grayback'></div>
      <%= image_tag asset_path('main_visual.jpg', alt: 'main-visual-1'), class: 'main-visual-img' %>
      <%= image_tag asset_path('lonly_person.jpg', alt: 'lonly_person'), class: 'main-img-t-l' %>
      <%= image_tag asset_path('smile_person.jpg', alt: 'smile_person'), class: 'main-img-t-r' %>
      <%= image_tag asset_path('many_pc.jpg', alt: 'many_pc'), class: 'main-img-b' %>
    </div>
    <div class='main-visual_text'>
      <div class='background_art'></div>
      <div class='background_subart'></div>
      <div class='container'>
        <h2>ConneWat</h2>
        <h3>大事な情報を素早く、そして確実に伝えるために</h3>
        <p>
          ConneWatは多くの店舗、セクションを抱える方々へお送りする、情報の伝達を素早く確実に行うためのwebサービスです。<br>
          伝えたい相手が多くなればなるほど難しくなる情報の共有、進捗状態の管理、各店舗内での予定の確認をスムーズに行うことが出来ます。
        </p>
        <div class='new-account_button'>
          <%= link_to '新規登録する', new_representative_path, class:'btn btn-primary animsition-link', data: {"turbolinks"=>false} %>
        </div>
      </div>
    </div>
  </div>
  <div class='gray-wrapper gray-wrapper_headline'>
    <div class='container rp_contents'>
      <div class='rp_headline-wrapper'>
        <div class='rp_content_headline'>
          <div class='headline-title'>
            <h3>シンプルで分かりやすい情報伝達手段を目指したWEBサービス</h3>
          </div>
          <div class='headline-text'> 
            <p>
              ConneWatではユーザーを情報発信側と受信側に分け、それぞれに専用のページを設けています。<br>
              初めに代表者の登録を行い、以降は必要な数だけ情報発信側と受信側のユーザーアカウントをそれぞれ登録することが出来ます。<br>
              情報発信側ユーザーが情報の発信を行うと、受信側は自動でその情報を受信しメッセージの表示を行います。<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='gray-background-gap'></div>
  <div class='gray-wrapper gray-wrapper_odd'>
    <div class='rp_contents rp_contents_odd'>
      <div class='rp_content_odd rp_content'>
        <div class='main-content_text'>
          <h4>情報発信者から受信側へ連絡情報を発信</h4>
          <p>
            受信側全てのユーザーに対し連絡情報の発信を一斉に行うことが出来ます。<br>
            必要であれば開始日、締日などの作業期間、ファイルの添付、緊急確認タグを設定することもでき、<br>
            進捗管理機能をつける事で受信側の各ユーザーが作業を完了したかどうかを確認することも可能です。
          </p>
        </div>
        <div class='main-content_image main_content_image_odd d-none d-lg-block rp_image'>
          <%= image_tag asset_path('article_index.jpg', alt: 'article_index'), class: 'content-img' %>
        </div>
      </div>
    </div>
  </div>
  <div class='gray-background-gap gray-background-gap2'></div>
  <div class='gray-wrapper gray-wrapper_even'>
    <div class='rp_contents rp_contents_even'>
      <div class='rp_content_even rp_content'>
        <div class='main-content_image main_content_image_even d-none d-lg-block rp_image'>
          <%= image_tag asset_path('rep_show_calendar.jpg', alt: 'rep_show_calendar'), class: 'content-img_1' %>
          <%= image_tag asset_path('rep_show_plans.jpg', alt: 'rep_show_plans'), class: 'content-img_2' %>
        </div>
        <div class='main-content_text'> 
          <h4>皆の予定や重要度の高い情報の確認をシンプルに</h4>
          <p>
            ログイン後のトップページにはその日の予定、終了もしくは開始が近い連絡情報やユーザーが登録した予定等、<br>
            注目度の高い情報を一つの画面に表示しているため、より大切な情報を見逃しにくくなっています。<br>
            また緊急情報として発信された情報は優先度が高めで表示されます。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='gray-background-gap gray-background-gap3'></div>
  <div class='gray-wrapper gray-wrapper_odd'>
    <div class='rp_contents rp_contents_odd'>
      <div class='rp_content_odd rp_content'>
        <div class='main-content_text'>
          <h4>メンバー登録で一人一人の情報確認を徹底</h4>
          <p>
            実際に大切な連絡情報を確認するのは機械ではなく、一人一人であると言えます。<br>
            ConneWatでは店舗形式の場合など受信側のユーザーアカウントが実際には更に複数のメンバーを有している場合に、
            受信ユーザーページからメンバーを登録することでメンバー一人一人の連絡情報チェックの管理が出来ます。<br>
          </p>
        </div>
        <div class='main-content_image main_content_image_odd comming_soon d-none d-lg-block rp_image'>
          <%= image_tag asset_path('comming_soon.gif', alt: 'comming_soon'), class: 'comming_soon' %>
        </div>
      </div>
    </div>
  </div>
  <div class='gray-background-gap gray-background-gap_last'></div>
  <div class='container rp_sub-contents'>
    <div class='headline-title'>
      <h3>その他、様々な機能</h3>
    </div>
    <div class='row'>
      <div class='col-md rp_sub-content'>
        <h4>カレンダーで予定の確認</h4>
        <div class='sub-content_image rp_image'>
          <%= image_tag asset_path('calendar.jpg', alt: 'calendar') %>
        </div>
        <p>トップページに配置されたカレンダーで、<br>期限が設けられた予定をひと目で確認できます。</p>
      </div>
      <div class='col-md rp_sub-content'>
        <h4>各アカウント内で予定の共有</h4>
        <div class='sub-content_image rp_image'>
          <%= image_tag asset_path('plans.jpg', alt: 'plans') %>
        </div>
        <p>
          各ユーザーで予定の登録が行えます。<br>
          登録した予定は情報発信ユーザーは発信側アカウント全て、受信ユーザーは自身のアカウント内のみでそれぞれ共有されます。
        </p>
      </div>
      <div class='col-md rp_sub-content'>
        <h4>連絡情報のライブラリ化</h4>
        <div class='sub-content_image rp_image'>
          <%= image_tag asset_path('library.gif', alt: 'library') %>
        </div>
        <p>
          一度配信した情報はタグを付ける事でライブラリとして管理することができ、<br>
          各ユーザーがいつでも好きなタイミングで再閲覧出来るようになります。
        </p>
      </div>
    </div>
  </div>
</div>
