<% provide(:title, "ユーザーログイン") %>

<div class='container' id='login-container'>
  <div class='row'>
    <div div class='col-md-6 offset-md-3'>
      <div class='page-title-wrapper'>
        <h1 class='default-page-title'>ユーザーログイン</h1>
      </div>
      <div class='form-wrapper'>
        <div class='form-intermediate'>
          <%= form_with url: login_path, local: true do |f| %>
            <%= f.hidden_field :path, value: params[:path] %>
            <div class='input-id_wrapper'>
              <div class='form-inline justify-content-between'>
                <%= f.label :email, 'メールアドレス' %>
                <%= f.text_field :email, class:'form-control' %>
              </div>
              <p>or</p>
              <div class='form-inline justify-content-between'>
                <%= f.label :staff_id, 'ID' %>
                <%= f.text_field :staff_id, class:'form-control' %>
              </div>
            </div>
            <div class='form-inline password-form justify-content-between'>
              <%= f.label :password, 'パスワード' %>
              <%= f.password_field :password, class:'form-control' %>
            </div>

            <%= f.label :remember_me, class:'checkbox inline' do%>
              <%= f.check_box :remember_me %>
              <span>ログイン情報をクッキーに保存します。</span>
            <% end %>

            <%= f.submit 'ログイン', class:'btn btn-primary', id:'login-btn' %>
          <% end %>
        </div>
        <div class='form-intermediate form-intermediate-sub'>
          <p>パスワードをお忘れの方はこちら <%= link_to 'パスワード再登録', new_password_reset_path, class: 'animsition-link', data: {"turbolinks"=>false} %></p>
          <p>新規登録がまだの方はこちら <%= link_to '新規登録', new_representative_path, class: 'animsition-link', data: {"turbolinks"=>false} %></p>
          <p>ユーザー登録はこちら（会員登録はお済みの方） <%= link_to 'ユーザー登録', representative_login_path,
              class: 'animsition-link', data: {"turbolinks"=>false} %></p>
        </div>
      </div>
    </div>
  </div>
</div>
