<% provide(:title, "代表者認証") %>

<div class='container' id='login-container'>
  <div class='row'>
    <div div class='col-md-8 offset-md-2 rep_login-form'>
      <div class='page-title-wrapper'>
        <h1 class='default-page-title'>代表者アカウント認証</h1>
      </div>
      <div class='form-wrapper'>
        <div class='form-intermediate'>
          <div class='grayback_title_div'><h2 class='grayback_title'>代表者アカウントのメールアドレス、パスワードを入力して下さい。</h2></div>
          <%= form_with url: representative_login_path, local: true do |f| %>
            <div class='form-group'>
              <div class='form-inline justify-content-between'>
                <%= f.label :email, 'メールアドレス' %>
                <%= f.text_field :email, class:'form-control' %>
              </div>
              <div class='form-inline justify-content-between'>
                <%= f.label :password, 'パスワード' %>
                <%= f.password_field :password, class:'form-control' %>
              </div>
            </div>
            <%= f.submit '認証', class:'btn btn-primary btn-lg', id:'login-btn' %>
          <% end %>
        </div>
        <div class='form-intermediate form-intermediate_bottom'>
          <p>新規登録がまだの方はこちら <%= link_to '新規登録', new_representative_path, class: 'animsition-link', data: {"turbolinks"=>false} %></p>
        </div>
      </div>
    </div>
  </div>
</div>
