<% provide(:title, 'パスワード再設定') %>

<div class='container account-info-container resets_confirm_container'>
  <div class='password-resets_container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'>パスワードの再設定</h1>
    </div>
    <div class='container account-info-form'>
      <%= form_with model: @user, url: password_reset_path(params[:id]), local: true do |f| %>
      <%= render 'shared/error_messages', object: @user %>

        <%= hidden_field_tag :email, @user.email %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit 'パスワードを更新する', class: "btn btn-outline-info" %>
      <% end %>
    </div>
  </div>
</div>
