<% provide(:title, 'パスワード再設定メールの送信') %>

<div class='container account-info-container'>
  <div class='password-resets_container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'>パスワードの再設定</h1>
    </div>
    <p class='account-info-commentary'>
      メールアドレスを入力後に送信ボタンを押すとパスワード再設定用のメールが届きます。<br>
      届いたメールの内容に従ってパスワードの再設定を完了して下さい。
    </p>
    <div class='container account-info-form'>
      <%= form_with url: password_resets_path, local: true do |f| %>
        <%= f.label :email, 'メールアドレスを入力して下さい' %>
        <div class='form-inline justify-content-center'>
          <%= f.email_field :email, class: 'form-control' %>
          <%= f.submit '送信', class: "btn btn-outline-info" %>
        </div>
      <% end %>
      <p>※パスワード再設定用メールの有効期限は二時間です</p>
    </div>
  </div>
</div>
