<%= @rep.name %> 様

この度はConneWatをご利用いただき誠にありがとうございます。
アカウントの仮登録が完了致しました。以下のURLをクリックして頂き、本登録を完了して下さい。

<%= edit_account_activation_url(@rep.activation_token, email:@rep.email) %>

※会員登録はまだ完了していません。
※このメールは自動送信です。返信は受け付けておりません。
※このメールに心当たりのない方はリンクをクリックしないようご注意下さい。
