<h1><%= @rep.name %> 様</h1>

<p>この度はConneWatをご利用いただき誠にありがとうございます。</p>
<p>アカウントの仮登録が完了致しました。以下のURLをクリックして頂き、本登録を完了して下さい。</p>

<%= link_to "アカウントを有効にする", edit_account_activation_url(@rep.activation_token,
                                                                  email: @rep.email) %>

<p>
※会員登録はまだ完了していません。<br>
※このメールは自動送信です。返信は受け付けておりません。<br>
※このメールに心当たりのない方はリンクをクリックしないようご注意下さい。
</p>
