<h1>サービス退会用リンクのご案内</h1>

<p>以下のリンクにアクセスし、表示されたページでパスワードを入力し退会作業を完了して下さい。</p>
<%= link_to 'アカウント削除用ページ', edit_representative_destroy_account_url(@user.representative, @user.representative.destroy_token, email: @user.email) %>
<p>このリンクの有効期限は二時間です。</p>

<p>
※有効期限が切れた場合は
  <%= link_to 'こちらのページ', new_representative_destroy_account_url(@user.representative) %>
  からやり直して下さい。<br>
※このメールは自動送信です。返信は受け付けておりません。<br>
※このメールに心当たりのない方は、リンクをクリックせずそのまま放置していただくようお願い致します
</p>
