サービス退会用リンクのご案内

以下のリンクにアクセスし、表示されたページでパスワードを入力し退会作業を完了して下さい。

<%= edit_representative_destroy_account_url(@user.representative, @user.representative.destroy_token, email: @user.email) %>
このリンクの有効期限は二時間です。


※有効期限が切れた場合は再度退会メールの送信画面からやり直して下さい。
※このメールは自動送信です。返信は受け付けておりません。
※このメールに心当たりのない方は、リンクをクリックせずそのまま放置していただくようお願い致します。
