パスワードの再設定

パスワードの再設定を承りました。
以下のリンクにアクセスし再設定を完了して下さい。

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
このリンクの有効期限は二時間です。


※有効期限が切れた場合は再度パスワード再設定画面からやり直して下さい。
※このメールは自動送信です。返信は受け付けておりません。
※このメールに心当たりのない方は、リンクをクリックせずそのまま放置していただくようお願い致します。
