<li class="article-container article-<%= article.type %>" id="article-<%= article.id %>">
  <%= link_to [current_representative, article] do %>
    <div class='article-header_container d-flex justify-content-between'>
      <p>
        <% if article.emergency? %>
          <span class='article-header_emergency'>緊急</span>
        <% end %>
        <%= article.title.abridgement_strings(80) %>
      </p>
      <div class='article-date_wrapper d-flex'>
      <% if article.start_date %>
        <p class='article-date_content'><span>開始日・終了日</span>：<%= article.start_date %> ~ <%= article.end_date %></p>
      <% end %>
        <p class='article_type'><%= article.type_i18n%></p>
      </div>
    </div>
    <div class='article-content_container'>
      <%= article.content.abridgement_strings(300) %>
    </div>
  <% end %>
  <div class='article-footer_container d-flex justify-content-between'>
    <a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= article.user.name %></a>
    <% if article.complete_function? %>
      <div class='article_complete-wrapper d-flex'>
        <p class='article_complete-rabel'>作業状態</p>
        <div id='article_completed-icon'>
          <%= article.decorate.article_completed_icon %>
        </div>
        <div id='article_complete-button'>
          <%= article.decorate.completed_button %>
        </div>
      </div>
    <% end %>
    <p>投稿日:<%= article.created_at.strftime('%Y/%m/%d') %></p>
  </div>
</li>
<%= render 'shared/user_modal', user: article.user %>
