<div class='form-wrapper' id='article-form-wrapper'>
  <div class='form-intermediate' id='article-form-intermediate'>
    <%= form_with model: [current_representative, article], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class='article-form_top form-border form-row'>
        <div class="form-group col-md-7">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group col-md-4 d-flex align-items-end">
          <p class='sm-letter text-right'><%= current_user.name %>の</p>
          <%= f.select :type, Article.types.keys.map{|k| [I18n.t("enums.article.type.#{k}"), k]}, {}, class: 'form-control' %>
        </div>
      </div>
      <div class='article-form_date form-border-dashed form-inline'>
        <%= f.label :start_date %>
        <%= f.date_field :start_date, class:'form-control' %>
        <%= f.label :end_date %>
        <%= f.date_field :end_date, class:'form-control' %>
        <div class='form-check ml-5 ml-sm-2'>
          <%= f.check_box :emergency, class: 'form-check-input' %>
          <%= f.label :emergency, class: 'article-header_emergency form-check-label' %>
        </div>
      </div>
      <div class='article-form_main form-border-dashed orm-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="article-form_file form-border form-group">  
        <%= f.label :images, '添付ファイル' %>
        <% if article.images.present? %>
          <% article.images.each do |image| %>
            <li><%= image.filename %><%= link_to '削除', image.decorate.image_destroy_path(article), { method: :delete, params: { image_id: image.id }} %></li>
          <% end %>
        <% end %>
        <%= f.file_field :images, multiple: true, class:'form-control-file' %>
      </div>
      <div class="form-row form-border article_tag-form">
        <div class='form-group'>
          <%= f.label :parent_tag %>
          <%= f.text_field :parent_tag, class:'form-control parent_tag-form' %>
        </div>
        <div class='form-group'>
          <%= f.label :child_tag %>
          <%= f.text_field :child_tag, class:'form-control child_tag-form', autocomplete: 'off', disabled: true %>
        </div>
      </div>
      <% if article.complete_function? %>
        <% if article.type == 'plans' %>
          <p>※予定の登録ではタグ登録は行なえません。</p>
        <% else %>
          <%= article.all_destroy_link %>
        <% end %>
      <% else %>
        <div class='complete_check-form form-inline' id='complete_check-wrapper'>
          <%= f.check_box :complete_function, class: 'form-check-input' %>
          <%= f.label :complete_function, '作業の完了を確認できるようにする' %>
          <p>この項目にチェックをすると、発信された作業内容を完了させた受信側のユーザーを確認することが出来ます。</p>
        </div>
      <% end %>
      <div class='btn-wrapper'>
        <%= f.submit yield(:button_text), class:'btn btn-lg btn-outline-primary'%>
      </div>
    <% end %>
  </div>
</div>
