<% provide(:title, "情報･予定新規登録") %>
<% provide(:button_text, '登録') %>

<div class='container artile-new_container'>
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'>情報･予定新規登録</h1>
  </div>
  <%= render 'form', article: @article %>
</div>
