<li class='complete-user_wrapper incomplete-index-partial d-lg-flex' id="completes-user-<%= complete.user.id %>">
  <p class='incomplete-partial_name'><a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= complete.user.name %></a></p>
  <p class='dashed-top'></p>
  <p class='incomplete-partial_status'>完了済</p>
  <p class='incomplete-partial_email'><%= mail_to complete.user.email %></p>
</li>
<%= render 'shared/user_modal', user: complete.user %>
