<li class='incomplete-user_wrapper incomplete-index-partial d-lg-flex' id="completes-user-<%= incomplete.user.id %>">
  <p class='incomplete-partial_name'><a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= incomplete.user.name %></a></p>
  <p class='dashed-top'></p>
  <p class='incomplete-partial_status'>未完了</p>
  <p class='incomplete-partial_email'><%= mail_to incomplete.user.email %></p>
</li>
<%= render 'shared/user_modal', user: incomplete.user %>
