<% provide(:title, '作業完了状況') %>

<div class='container incomplete-index_container'>
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'><%= @article.title %>の作業状況</h1>
  </div>
  <div class='incomplete-list_wrapper'>
    <% if @incompletes %>
      <ol>
        <%= render @incompletes %>
      </ol>
    <% end %>
    <% if @completes %>
      <ol>
        <%= render partial: 'complete', collection: @completes %>
      </ol>
    <% end %>
  </div>
</div>
