<% if request.path.include?('staff') %>
  <%= form_with model: [:staff, current_representative, article, incomplete], method: :patch do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.submit '完了済にする', class: "btn btn-sm btn-outline-success" %>
  <% end %>
<% else %>
  <%= form_with model: [current_representative, article, incomplete], method: :patch do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.submit '完了済にする', class: "btn btn-sm btn-outline-success" %>
  <% end %>
<% end %>
