<% if request.path.include?('staff') %>
  <%= form_with model: [:staff, current_representative, article, incomplete], method: :delete do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.submit '未完了に戻す', class: "btn btn-sm btn-outline-secondary" %>
  <% end %>
<% else %>
  <%= form_with model: [current_representative, article, incomplete], method: :delete do |f| %>
    <%= f.hidden_field :completed, value: true %>
    <%= f.submit '未完了に戻す', class: "btn btn-sm btn-outline-secondary" %>
  <% end %>
<% end %>
