<% if object.errors.any? %>
  <div class='container'>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= object.errors.count %>個のエラーが発生しました。
      </div>
      <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>