<div class='form-wrapper'>
  <div class='form-intermediate'>
    <%= form_with model: [representative, user], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% if logged_in? %>
        <div class='form-group user-type_form'>
          ユーザータイプ: <%= f.select :sender, User.senders.keys.map {|k| [I18n.t("enums.user.sender.#{k}"), k]} %>
        </div>
      <% else %>
        <%= f.hidden_field :sender, value: 'sender' %>
      <% end %>
      <div class='form-group'>
        <%= f.label :name, class:'required-item' %>
        <%= f.text_field :name, class:'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :email, class: 'required-email' %>
        <%= f.text_field :email, class:'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :context %>
        <%= f.text_field :context, class:'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :phone_number %>
        <p class='form_note'>ハイフン無し</p>
        <%= f.text_field :phone_number, class:'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :staff_id, class:'required-item' %>
        <p class='form_note'>半角英数最低8文字</p>
        <%= f.text_field :staff_id, class:'form-control staff_id-form' %>
      </div>

      <div class='form-group'>
        <%= f.label :password, class:'required-item' %>
        <p class='form_note'>
          ・半角英数最低6文字以上<br>
          ・英数字をそれぞれ最低一つ以上<br>
          ・大文字小文字区別
        </p>
        <%= f.password_field :password, class:'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :password_confirmation, class:'required-item' %>
        <%= f.password_field :password_confirmation, class:'form-control' %>
      </div>

      <div class='form-group form-inline'>
        <%= f.check_box :terms_check, class: 'form-control' %>
        <span><button type="button" class="terms-button" data-toggle="modal" data-target="#exampleModalLong">利用規約</button>に同意する</span>
      </div>

      <div class='submit-btn'>
        <%= f.submit yield(:button_text), class:'btn btn-lg btn-primary'%>
      </div>
    <% end %>
  </div>
  <div class='form-intermediate form-intermediate-sub'>
      <p>管理者ユーザー登録が出来ていない方はこちら <%= link_to '管理者ユーザー登録', representative_admin_signup_path(@representative), class: 'animsition-link', data: {"turbolinks"=>false} %></p>
  </div>
</div>
<%= render 'shared/terms' %>
