<div class='sidebar-container'>
  <div class='sidebar-wrapper'>
    <div class='sidebar-main'>
      <ul>
        <%= sidebar_link_item('ホーム', staff_representative_path(current_representative), data: {"turbolinks"=>false}) %>
        <%= sidebar_link_item('連絡情報･予定一覧', staff_representative_articles_path(current_representative)) %>
        <%= sidebar_link_item('予定の登録', new_staff_representative_article_path(current_representative)) %>
        <%= sidebar_link_item('メンバー一覧', staff_representative_members_path(current_representative)) %>
        <%= sidebar_link_item('メンバー登録', new_staff_representative_member_path(current_representative), admin_user: false, class: 'animsition-link') %>
      </ul>
    </div>
    <div class='sidebar-sub'>
      <ul>
        <li><button type="button" class="terms-button" data-toggle="modal" data-target="#exampleModalLong">利用規約</button></li>
      </ul>
    </div>
  </div>
</div>
<%= render 'shared/terms' %>
