<div class='sidebar-container'>
  <div class='sidebar-wrapper'>
    <div class='sidebar-main'>
      <ul>
        <%= sidebar_link_item('ホーム', current_representative, data: {"turbolinks"=>false}) %>
        <%= sidebar_link_item('連絡情報･予定一覧', representative_articles_path(current_representative)) %>
        <%= sidebar_link_item('連絡情報･予定の登録', new_representative_article_path(current_representative)) %>
        <%= sidebar_link_item('ユーザー一覧', representative_users_path(current_representative)) %>
        <%= sidebar_link_item('ユーザー登録', new_representative_user_path(current_representative), class: 'animsition-link', admin_user: false) %>
      </ul>
    </div>
    <div class='sidebar-sub'>
      <ul>
        <li><button type="button" class="terms-button" data-toggle="modal" data-target="#exampleModalLong">利用規約</button></li>
        <li><%= link_to '退会(全データ削除)', new_representative_destroy_account_path(current_representative), class: 'animsition-link' %></li>
      </ul>
    </div>
  </div>
</div>
<%= render 'shared/terms' %>
