<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><%= user.name %></h4>
            </div>
            <div class="modal-body"> 
                <h5>部署・所属</h5>
                <p><%= user.context %></p>
                <h5>メールアドレス</h5>
                <p><%= mail_to user.email %></p>
                <h5>電話番号</h5>
                <p><%= user.phone_number %></p>
                <% if current_user.sender? %>
                  <h5>ユーザー属性</h5>
                  <p><%= user.sender_i18n %><%= tag.span '管理者', class: 'user-modal_admin' if user.admin? %></p>
                  <h5>ユーザー登録日</h5>
                  <p><%= user.created_at.strftime('%Y/%m/%d') %></p>
                <% end %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
