<div class='form-wrapper' id='article-form-wrapper'>
  <div class='form-intermediate' id='article-form-intermediate'>
    <%= form_with model: [:staff, current_representative, article], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :type, value: 'plans' %>
      <%= f.hidden_field :complete_function, value: 1 %>

      <div class='article-form_top form-border form-row'>
        <div class="form-group col-md-7">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group col-md-3 offset-md-1 row d-flex align-items-end">
          <%= f.label :member_id, '登録者' %>
          <%= f.select :member_id, @members, {}, class: 'form-control' %>
        </div>
      </div>
      <div class='article-form_date form-border-dashed form-inline'>
        <%= f.label :start_date %>
        <%= f.date_field :start_date, class:'form-control' %>
        <%= f.label :end_date %>
        <%= f.date_field :end_date, class:'form-control' %>
        <div class='form-check ml-5 ml-sm-2'>
          <%= f.check_box :emergency, class: 'form-check-input' %>
          <%= f.label :emergency, class: 'article-header_emergency form-check-label' %>
        </div>
      </div>
      <div class='article-form_main form-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="article-form_file form-border form-group">  
        <%= f.label :images, '添付ファイル' %>
        <% if article.images.present? %>
          <% article.images.each do |image| %>
            <li><%= image.filename %><%= link_to '削除', image.decorate.image_destroy_path(article), { method: :delete, params: { image_id: image.id }} %></li>
          <% end %>
        <% end %>
        <%= f.file_field :images, multiple: true, class:'form-control-file' %>
      </div>
      <div class='btn-wrapper'>
        <%= f.submit yield(:button_text), class:'btn btn-lg btn-outline-primary'%>
      </div>
    <% end %>
  </div>
</div>
