<% provide(:title, "予定編集") %>
<% provide(:button_text, '更新') %>

<div class='article-edit_container'>
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'>予定編集</h1>
  </div>
  <%= render 'form', article: @article %>
  <div class='article-show_buttons'>
    <%= link_to '詳細', staff_representative_article_path(@article.representative), class: 'bottom-links_right bottom-links' %>
    <% if correct_model_or_admin?(@article.user) %>
      <%= link_to '削除', staff_representative_article_path(@article.representative, @article), method: :delete,
                                                                data: { confirm:  "投稿を削除します。よろしいですか？" },
                                                                class: 'bottom-links_right bottom-links' %>
    <% end %>
  </div>
</div>
