<% provide(:title, '連絡情報・予定一覧') %>

<div class='articles-container index-container'>
  <div class='container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'>連絡情報・予定一覧</h1>
    </div>
    <div class='articles_other-link index-header_links'>
      <%= link_to '予定の登録を行う', new_staff_representative_article_path(current_representative), class: 'navbar-brand' %>
    </div>
    <div class='navbar-collapse d-lg-flex articles_header index-header'>
      <div class='articles_header-top d-flex index-header_top'>
        <%= contents_link_item('連絡情報', staff_representative_articles_path(current_representative, type: '連絡情報'),
                               '連絡情報') %>
        <%= contents_link_item('スタッフの予定', staff_representative_articles_path(current_representative, type: 'スタッフの予定'),
                               'スタッフの予定') %>
        <%= form_with url: staff_representative_articles_path(current_representative), method: :get, id: 'order-submit', local: true do |f| %>
          <%= f.hidden_field :type, value: params[:type] %>
          <%= f.hidden_field :keyword, value: params[:keyword] %>
          <%= f.select :order, {'投稿日 降順':'created_at DESC', '投稿日 昇順':'created_at ASC',
                                '終了日時が近い順':'end_date ASC', '開始日時が近い順':'start_date ASC' },
                                {selected: params[:order]}, {class: 'form-control article-order'} %>
        <% end %>
      </div>
      <div class='articles_header-bottom index-header_bottom'>
        <ul class='navbar-nav'>
          <li class='form-inline'>
            <%= form_with url: staff_representative_articles_path(current_representative), method: :get, local: true do |f| %>
              <%= f.text_field :keyword, placeholder: 'キーワードで検索',class: 'form-control' %><%= f.select :type, ['連絡情報', 'スタッフの予定'], {selected: params[:type]}, class: 'form-control' %>
              <%= f.submit '検索', name: nil, class:'btn btn-outline-dark' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <%= staff_indicate_keyword('articles') %>
    <% if @articles.any? %>
      <ol id='articles-partial'>
        <%= render @articles %>
      </ol>
    <% else %>
      <h2>連絡情報・予定はありません。</h2>
    <% end %>
    <%= paginate @articles %>
    <div class='custom-hidden-field'>
      <p class='hidden-field-type'></p>
    </div>
  </div>
</div>
