<% provide(:title, '情報詳細') %>

<div class='article-show' id="article-<%= @article.id %>">
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'>連絡情報・予定詳細</h1>
  </div>
  <% if @article.start_date || @article.end_date %>
    <div class='article-show_date'>
      <p>
        開始日<span class='article_start-date'><%= @article.start_date %></span>
        終了日<span class='article_end-date'><%= @article.end_date %></span>
      </p>
    </div>
  <% end %>
  <div class="article-show_container article-show_<%= @article.type == "plans" ? + 'plans' : + 'info' %>">
    <div class='article-show_title d-flex justify-content-between'>
      <p>
        <% if @article.emergency? %><span class='article-header_emergency'>緊急</span><% end %>
        <%= @article.title %>
      </p>
    <% if @article.member %>
      <p class='member_name user-name'><%= @article.decorate.registered_person %></p>
    <% else %>
      <a class="user_modal-link user-name" data-toggle="modal" data-target="#userModal"><%= @article.user.name %></a>
    <% end %>
    </div>
    <div class='article-show_content'>
      <p class='article-show_content-top'><%= @article.content %></p>
      <% if @article.parent_tag.present? %>
        <p class='article-show_content-tag'>メインタグ: <%= @article.parent_tag %><span>サブタグ: <%= @article.child_tag %></span></p>
      <% end %>
    </div>
    <div class='article-show_footer'>
    <% if @article.images.attached? %>
      <div class='article-show_downloads'>
        <ul>
        <% @article.images.each do |image| %>
          <li><div class="download icon"></div><span><%= link_to image.filename, rails_blob_path(image), download: "ダウンロード" %></span></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class='d-flex'>
        <p class='article-created-at'>投稿日時:<%= @article.created_at.strftime('%Y/%m/%d') %></p>
        <% if @article.complete_function? %>
          <div class='article_complete-wrapper d-flex'>
            <p class='article_complete-rabel'>作業状態</p>
            <div id='article_completed-icon'>
              <%= @article.decorate.article_completed_icon %>
            </div>
            <div id='article_complete-button'>
              <%= @article.decorate.completed_button %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='article-show_buttons'>
    <%= link_to '一覧へ戻る', staff_representative_articles_path(@article.representative), class: 'bottom-links_left bottom-links' %>
    <% if correct_model_or_admin?(@article.user) %>
      <%= link_to '編集', edit_staff_representative_article_path(@article.representative), class: 'bottom-links_center bottom-links' %>
      <%= link_to '削除', staff_representative_article_path(@article.representative, @article), method: :delete,
                                                               data: { confirm:  "投稿を削除します。よろしいですか？" },
                                                               class: 'bottom-links_right bottom-links' %>
    <% end %>
  </div>
</div>
<%= render 'shared/user_modal', user: @article.user %>
<script>
  history.replaceState(null, document.getElementsByTagName('title')[0].innerHTML, null);
  window.addEventListener('popstate', function(e) {
    window.location.reload();
  });
</script>
