<div class='weather-wrapper'>
  <div class='weather-city d-flex'>
    <p id='city-name'><%= current_user.city %></span>
    <%= form_with model: [current_representative, current_user], local: true do |f| %>
      <div class='weather-form-input form-inline'>
        <%= f.select :city_id, cities.map{ |city| [city.name, city.weather_id] }, {}, class: 'form-control form-control-sm' %>
        <%= f.submit '変更する', class:'btn btn-outline-secondary btn-sm'%>
      </div>
    <% end %>
  </div>
  <div class='row' id='weather'>
    <%# OpenWeagherが入る %>
  </div>
</div>
