<% provide(:title, "新規会員登録") %>

<div class='container rep-new_container'>
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'>新規会員登録</h1>
  </div>
  <div class='form-wrapper'>
    <div class='form-intermediate'>
      <%= form_with model: @representative, local: true do |f| %>
        <%= render 'shared/error_messages', object: @representative %>
        <h2 class='grayback_title'>代表者登録</h2>
        <div class='form-group'>
          <%= f.label :name, '代表者名(個人または社名)' %>
          <%= f.text_field :name, class: 'form-control required-item'%>
        </div>

        <div class='form-group'>
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control required-item' %>
        </div>

        <div class='form-group'>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control required-item' %>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control required-item' %>
        </div>

        <div class='form-group form-inline'>
          <%= f.check_box :terms_check, class: 'form-control' %>
          <span><button type="button" class="terms-button" data-toggle="modal" data-target="#exampleModalLong">利用規約</button>に同意する</span>
        </div>
        
        <div class='submit-btn'>
          <%= f.submit "登録", class:'btn btn-lg btn-primary'%>
        </div>
      <% end %>
    </div>
    <div class='form-intermediate form-intermediate-sub'>
      <p>ユーザー登録はこちら（会員登録はお済みの方） <%= link_to 'ユーザー登録', representative_login_path,
          class: 'animsition-link', data: {"turbolinks"=>false} %></p>
      <p>管理者ユーザー登録が出来ていない方はこちら <%= link_to '管理者ユーザー登録', representative_login_path,
          params_action: "new_admin_user", class: 'animsition-link', data: {"turbolinks"=>false} %></p>
    </div>
  </div>
</div>
<%= render 'shared/terms' %>
