<% provide(:title, "管理者ユーザー登録") %>
<% provide(:button_text, "登録") %>

<div class='admin-new_container'>
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'><%= @representative.name %> 管理者ユーザー登録</h1>
  </div>
  <p class='admin-users_note'>
    管理者ユーザーは各ユーザーの管理、制限を排除した自アカウントコンテンツの閲覧を行うことができ、またアカウントの削除（退会）を唯一行うことが出来る重要なアカウントです。<span class='span_border-bottom'>ID、パスワードは厳重に保管</span>して下さい。<br>
    アカウントトップページからユーザー一覧の画面へアクセスすると既存の別ユーザーに管理者権限を付与することが出来ます。<br>
  <p>
  <div class='container user-form_container'>
    <p class='require_note'>*印は必須入力です。</p>
    <%= render 'shared/form', class: 'animsition-link', user: @user, representative: @representative, admin_user: true %>
  </div>
</div>
