<% provide(:title, "#{@representative.name}") %>

<div class="animsition">
  <div class='container rep-show_container'>
    <%= render 'weather', cities: @cities %> <%# OpenWeather %>
    <% if @emergency_articles %>
      <div class='emergency-plans_container plans-container row'>
        <div class='col-xs-12 col-md-2 plans-table_title'>
          <h2>緊急配信</h2>
        </div>
        <div class='col-xs-12 col-md-10 plans-table_contents'>
          <table id='emergency-list'>
            <tr class='tr-title'>
              <th>タイトル</th>
              <th>登録者名</th>
              <th>終了（締）日</th>
              <th>作業状況</th>
            </tr>
            <%= render partial: 'admin/representatives/plans/emergency', collection: @emergency_articles %>
          </table>
        </div>
      </div>
    <% end %>
    <div id="calendar" data-rep-id=<%= @representative.id %>></div> <%# fullCalender %>
    <div class='container'>
      <div class='today-plans_container plans-container row'>
        <div class='col-md-2 plans-table_title'>
          <h2>今日の予定</h2>
        </div>
        <div class='col-md-10 plans-table_contents'>
          <% if @today_plans %>
            <table id='today-list'>
              <tr class='tr-title'>
                <th>タイトル</th>
                <th>登録者名</th>
                <th>終了（締）日</th>
                <th>作業状況</th>
              </tr>
              <%= render partial: 'admin/representatives/plans/today', collection: @today_plans %>
            </table>
            <div class='more'>
              <%= link_to_next_page @today_plans, 'もっと見る', id: 'more_today', class: 'btn btn-light w-100 next_page-button',
                                                                params: { type: :today }, remote: true %>
            </div>
          <% else %>
            <p>予定は登録されていません</p>
          <% end %>
        </div>
      </div>
      <div class='end-plans_container plans-container row'>
        <div class='col-md-2 plans-table_title'>
          <h2>期限が間近の予定</h2>
        </div>
        <div class='col-md-10 plans-table_contents'>
          <% if @plans_nearing_deadline %>
            <table id='end-plan_list'>
              <tr class='tr-title'>
                <th>タイトル</th>
                <th>登録者名</th>
                <th>終了（締）日</th>
                <th>作業状況</th>
              </tr>
              <%= render partial: 'admin/representatives/plans/end_plan', collection: @plans_nearing_deadline %>
            </table>
            <div class='more'>
              <%= link_to_next_page @plans_nearing_deadline, 'もっと見る', id: 'more_end-plan', class: 'btn btn-light w-100 next_page-button',
                                                                params: { type: :end_plan }, remote: true %>
            </div>
          <% else %>
            <p>予定は登録されていません</p>
          <% end %>
        </div>
      </div>
      <div class='start-plans_container plans-container row'>
        <div class='col-md-2 plans-table_title'>
          <h2>開始日が間近の予定</h2>
        </div>
        <div class='col-md-10 plans-table_contents'>
          <% if @plans_nearing_start %>
            <table id='start-plan_list'>
              <tr class='tr-title'>
                <th>タイトル</th>
                <th>登録者名</th>
                <th>開始日</th>
                <th>作業状況</th>
              </tr>
              <%= render partial: 'admin/representatives/plans/start_plan', collection: @plans_nearing_start %>
            </table>
            <div class='more'>
              <%= link_to_next_page @plans_nearing_start, 'もっと見る', id: 'more_start-plan', class: 'btn btn-light w-100 next_page-button',
                                                                params: { type: :start_plan }, remote: true %>
            </div>
          <% else %>
            <p>予定は登録されていません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/gcal.js"></script>
