<tr class="<%= start_plan.type %>-aritcle" id="article-<%= start_plan.id %>">
  <td class='rep-show_plantitle'>
    <%= link_to start_plan.title.abridgement_strings(70), staff_representative_article_path(current_representative, start_plan) %>
  </td>
  <td>
    <% if start_plan.member %>
      <p class='member_name'><%= start_plan.decorate.registered_person %></p>
    <% else %>
      <a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= start_plan.user.name %></a>
    <% end %>
  </td>
  <td><%= start_plan.start_date %></td>
  <td class='article_complete-wrapper d-flex justify-content-center'>
  <% if start_plan.complete_function? %>
    <div id='article_completed-icon'>
      <%= start_plan.decorate.article_completed_icon %>
    </div>
    <div id='article_complete-button'>
      <%= start_plan.decorate.completed_button %>
    </div>
  <% else %>
    <div class='not-complete-function'></div>
  <% end %>
  </td>
</tr>
<%= render 'shared/user_modal', user: start_plan.user %>
