<tr class="<%= today.type %>-aritcle" id="article-<%= today.id %>">
  <td class='rep-show_plantitle'>
    <%= link_to today.title.abridgement_strings(70), staff_representative_article_path(current_representative, today) %>
  </td>
  <td>
    <% if today.member %>
      <p class='member_name'><%= today.decorate.registered_person %></p>
    <% else %>
      <a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= today.user.name %></a>
    <% end %>
  </td>
  <td><%= today.end_date %></td>
  <td class='article_complete-wrapper d-flex justify-content-center'>
  <% if today.complete_function? %>
    <div id='article_completed-icon'>
      <%= today.decorate.article_completed_icon %>
    </div>
    <div id='article_complete-button'>
      <%= today.decorate.completed_button %>
    </div>
  <% else %>
    <div class='not-complete-function'></div>
  <% end %>
  </td>
</tr>
<%= render 'shared/user_modal', user: today.user %>
