$('#start-plan_list').append("<%= escape_javascript(render partial: 'staff/representatives/plans/start_plan', collection: @plans_nearing_start) %>");
$("#more_start-plan").replaceWith("<%= escape_javascript(link_to_next_page(@plans_nearing_start, 'もっと見る', remote: true, id: 'more_start-plan', class: 'btn btn-light w-100 next_page-button')) %>");
