<div class='member-partial_container d-flex justify-content-between' id="member-partial-<%= member.id %>">
  <div class='member_name'>
    <div id="js-member-<%= member.id %>">
      <p id="js-member-label-<%= member.id %>"><%= member.name %></p>
      <p id="js-member-post-error-<%= member.id %>" class="text-danger js-member-post-error js-member-messages"></p>
      <p id="js-member-post-success-<%= member.id %>" class="text-success js-member-post-success js-member-messages"></p>
      <input type='text' style="display: none;" id="js-textarea-member-<%= member.id %>" class="form-control member-post-error" value="<%= member.name %>">
      <div id="js-member-button-<%= member.id %>" style="display: none;">
        <button data-cancel-id=<%= member.id %> type="button" class="btn btn-light btn-sm member-cancel-button">キャンセル</button>
        <button data-update-id=<%= member.id%> data-rep-id=<%= current_representative.id%> type="submit" class="btn btn-sm btn-success member-update-button">更新</button>
      </div>
    </div>
  </div>
  <div class='member-links'>
    <span data-member-id=<%= member.id %> class="js-edit-member-button">
      <i class="fas fa-edit text-primary color_blue"></i>
    </span>
    <%= link_to '削除', staff_representative_member_path(current_representative, member.id), method: :delete,
                                                                                  data: { confirm: "#{member.name}を削除します。よろしいですか？" }  %>
  </div>
</div>
