<div class='members_container'>
  <div class='page-title-wrapper'>
    <h1 class='default-page-title'><%= current_user.name %>のメンバー一覧</h1>
  </div>
  <div class='members_index-wrapper'>
    <%= render @members %>
  </div>
  <div class='members_links'>
    <%= link_to 'メンバー登録へ', new_staff_representative_member_path(current_representative) %>
  </div>
</div>
