<div class='member_container'>
  <div class='container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'><%= current_user.name %> メンバー登録</h1>
    </div>
    <div class='new_member-list'>
      <% if @members_list %>
        <p>登録済みメンバー一覧</p>
        <ul class='d-flex'>
        <% @members_list.each do |member| %>
          <li><%= member.name %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <div class='member-form'>
      <%= form_with model: @members, url: staff_representative_members_path(current_representative), local: true do |form| %>
        <% @members.collection.each do |member|%>
          <%= fields_for 'members[]', member do |field| %>
            <%= field.hidden_field :user_id, value: current_user.id %>
            <div class="field form-group">
              <%= field.label :name %>
              <%= field.text_field :name, class: 'form-control' %>
            </div>
            <br>
          <% end %>
        <% end %>
        <div class="actions">
          <%= form.submit '登録', class:'btn btn-lg btn-primary' %>
        </div>
      <% end %>
    </div>
    <div class='members_links'>
      <%= link_to 'メンバー一覧へ', staff_representative_members_path(current_representative) %>
    </div>
  </div>
</div>
