<% provide(:title, "サービス退会の確認") %>

<div class='container account-info-container'>
  <div class='confirm-destroy_container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'>サービスの退会（最終確認）</h1>
    </div>
    <p class='account-destroy_commentary account-info-commentary'>
      こちらは本サービス(ConneWat)の退会確定画面です。<br>
      以下フォームにパスワードを入力し認証が完了すると、アカウント退会作業が完全に完了します。
    </p>
    <div class='confirm-destroy_warning container'>
      <div class='text-center'><h2>WARNING!（注意事項）</h2></div>
      <p>
        ・一度退会されますとアカウントに関連する全てのデータが削除され、またいかなる理由をもっても復元することはできません。<br>
        （関連するデータとは本サービスにおいて作成された全てのデータを含めます。代表者アカウント、代表者アカウントに紐付いた全てのユーザー、またそれらのユーザーが投稿した記事・データ・ファイル、これらも全て含むものですのでご注意下さい）<br>
        ・当サービスはユーザーが退会した事により生じたいかなる問題について、一切の責任を負いかねますのであらかじめご了承ください。<br>
        ・以下フォームの入力、送信をもって上記内容にご同意いただけたものと致します。
      </p>
    </div>
    <div class='container account-info-form'>
      <p>※アカウント削除メールが送られた管理者ユーザーアカウントのパスワードを入力して下さい。</p>
      <%= form_with url: representative_destroy_account_path(@rep, params[:id]), method: :delete, local: true  do |f| %>
        <%= f.hidden_field :email, value: params[:email] %>
        <%= f.label :password, '管理者パスワード' %>
        <%= f.password_field :password, class:'form-control' %>

        <%= f.submit 'アカウントを削除', class:'btn btn-outline-danger',
                                        data: { confirm: "アカウント:#{@rep.name} を削除しサービスを退会します。\n'OK'を押すとすべてのデータが削除され復元する事はできません。\n本当によろしいですか？（当ページ記載の注意事項を必ずご確認下さい。）" } %>
      <% end %>
    </div>
  </div> 
</div> 
