<% provide(:title, "サービス退会の確認メールの送信") %>

<div class='container account-info-container'>
  <div class='account-destroy_container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'>サービスの退会メールの送信</h1>
    </div>
    <p class='account-destroy_commentary account-info-commentary'>
      本サービス(ConneWat)の退会をご希望される方は以下フォームに自身のメールアドレスを入力し送信を押して下さい。<br>
      数分以内に退会用フォームのURLが記載されたメールが届きます。<br>
      メールの本文に記載されているURLにアクセスして頂き、本人確認ができ次第退会画面へと移ります。<br>
      <span>※メールの有効時間は２時間です。</span><br>
      <span>※サービスの退会は管理者ユーザーアカウントでないと行うことは出来ません。</span><br>
      <span>※退会が完了した後、本サービス内のデータは全て削除され復元できなくなります。</span>
    </p>
    <div class='container account-info-form'>
      <%= form_with url: representative_destroy_accounts_path(current_representative), local: true do |f| %>
        <%= f.label :email, '管理者メールアドレス' %>
        <div class='form-inline justify-content-center'>
          <%= f.text_field :email, class:'form-control' %>

          <%= f.submit '送信', class:'btn btn-outline-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
