// OpenWeater
$(function () {
  var API_KEY = '76afabeb9c0ba326ae210787d60a9154';
  var city_id = 2113015; // 該当ユーザーの都道府県名を変数に代入 "#{@user.prefecture}"
  // APIを読み込み変数に代入
  var url = 'https://api.openweathermap.org/data/2.5/forecast?id=' + city_id + '&units=metric&cnt=21&appid=' + API_KEY;

  $.ajax({
      url: url,
      dataType: 'json',
      type: 'GET',
  })
  .done(function (data) {
    var insertHTML = '';

    // デフォルトでは3時間ごとの天気を取得するため、
    // 8の倍数でデータを取得することにより、24時間ごとの天気を取得する
    for (var i = 0; i <= 20; i = i + 4) {
      insertHTML += buildHTML(data, i);
    }
    $('#weather').html(insertHTML);
  })
  .fail(function (data) {
    alert('天気予報取得に失敗しました');
  });
});
// 日本語化
function buildHTML(data, i) {
  var Week = new Array('(日)', '(月)', '(火)', '(水)', '(木)', '(金)', '(土)');
  var date = new Date(data.list[i].dt_txt);
  date.setHours(date.getHours() + 9);
  var month = date.getMonth() + 1;
  var day = month + '/' + date.getDate() + Week[date.getDay()] + date.getHours() + "時";
  var icon = data.list[i].weather[0].icon;
  var html =
    '<div class="weather-report col">' +
      '<p class="weather-date">' + day + "</p>" +
      '<img src="http://openweathermap.org/img/wn/' + icon + '.png">' +
      '<div class="weather-temp">' + '気温：' + Math.round(data.list[i].main.temp) + "℃</div>" +
    '</div>';
  return html
}
