<tr class="<%= emergency.type %>-aritcle" id="article-<%= emergency.id %>">
  <div>
    <td class='rep-show_plantitle'>
      <%= link_to emergency.title.abridgement_strings(70), representative_article_path(current_representative, emergency) %>
    </td>
  <td><a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= emergency.user.name %></a></td>
  </div>
  <div>
    <td><%= emergency.end_date %></td>
    <td class='article_complete-wrapper d-flex justify-content-center'>
    <% if emergency.complete_function? %>
      <div id='article_completed-icon'>
        <%= emergency.decorate.article_completed_icon %>
      </div>
      <div id='article_complete-button'>
        <%= emergency.decorate.completed_button %>
      </div>
    <% else %>
      <div class='not-complete-function'></div>
    <% end %>
    </td>
  </div>
</tr>
<%= render 'shared/user_modal', user: emergency.user %>
