<tr class="<%= end_plan.type %>-aritcle" id="article-<%= end_plan.id %>">
  <td class='rep-show_plantitle'>
    <%= link_to end_plan.title.abridgement_strings(70), representative_article_path(current_representative, end_plan) %>
  </td>
  <td><a class="user_modal-link" data-toggle="modal" data-target="#userModal"><%= end_plan.user.name %></a></td>
  <td><%= end_plan.end_date %></td>
  <td class='article_complete-wrapper d-flex justify-content-center'>
  <% if end_plan.complete_function? %>
    <div id='article_completed-icon'>
      <%= end_plan.decorate.article_completed_icon %>
    </div>
    <div id='article_complete-button'>
      <%= end_plan.decorate.completed_button %>
    </div>
  <% else %>
    <div class='not-complete-function'></div>
  <% end %>
  </td>
</tr>
<%= render 'shared/user_modal', user: end_plan.user %>
