$('#end-plan_list').append("<%= escape_javascript(render partial: 'admin/representatives/plans/end_plan', collection: @plans_nearing_deadline) %>");
$("#more_end-plan").replaceWith("<%= escape_javascript(link_to_next_page(@plans_nearing_deadline, 'もっと見る', remote: true, id: 'more_end-plan', class: 'btn btn-light w-100 next_page-button')) %>");
