$('#today-list').append("<%= escape_javascript(render partial: 'admin/representatives/plans/today', collection: @today_plans) %>");
$("#more_today").replaceWith("<%= escape_javascript(link_to_next_page(@today_plans, 'もっと見る', remote: true, id: 'more_today', class: 'btn btn-light w-100 next_page-button')) %>");
