// グレー系
$very_dark_gray: #424242;
$dark_gray: #666666;
$gray: #cccccc;
$light_gray: #eeeeee;
$very_light_gray: #f7f7f7;

// レッド系
$danger_red:rgb(255, 72, 16);
$light_danger_red:rgba(255, 72, 16, 0.651);
$info_orange: rgba(221, 140, 48, 0.801);
$orange: rgb(248, 133, 25);
$dark_orange: rgb(190, 87, 27);
$info_light_orange: rgba(219, 166, 123, 0.637);
$info_verylight_orange: rgba(248, 243, 239, 0.644);

// ブルー系
$main_blue: #1553ff;
$font_blue: #002f6d;
$navy: #0E419A;
$plans_blue: rgba(61, 105, 187, 0.76);

// グリーン系
$sender_green: rgb(7, 104, 55);
$receiver_green: rgb(27, 156, 27);
