// マージン・パディング
$narrow: 2px;
$moderate:6px;
$wide: 10px;
$very_wide: 20px;

// フォントサイズ
$tiny: 8px;
$small: 10px;
$normal: 12px;
$large: 16px;
$EXlarge: 20px;
$huge: 24px;
$EXhuge: 30px;
$XXhuge: 42px;
$XXXhuge: 50px;

// 行の高さ
$standard_line_height: 16px;

// メディアクエリ
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$min_breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 960px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin min_mq($breakpoint: md) {
  @media #{map-get($min_breakpoints, $breakpoint)} {
    @content;
  }
}
