@import "colors";
@import "dimensions";
/* get the styles for both icon*/

.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after { 
  transition: all 0.4s ease;
}
/* this is merely a rough demo to showcase the potential of CSS ICON on animation, more crafted animation can go from here */

// body
body {
  font-family: "ヒラギノ角ゴシック","Meiryo","sans-serif";
  color: $font_blue;
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding-left: $moderate;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: $EXhuge;
  font-weight: 500;
  letter-spacing: 0.1em;
}

h2 {
  font-size: $huge;
  font-weight: 500;
}

h3 {
  letter-spacing: 0.1em;
  font-weight: 400;
}

h4 {
  letter-spacing: 0.10em;
  font-weight: 300;
  font-size: $huge;
}

p {
  letter-spacing: 0.1em;
  font-weight: 200;
}

img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

.user_modal-link {
  cursor: pointer;
}

#article-form-wrapper {
  background: linear-gradient(150deg, #8b8b8b 0%, #bdbdbd 20%, #a1a1a1 100%);
  border-radius: 3.5em 0.4em 3.5em 0.2em;
  padding: 0.8rem;
}

#article-form-intermediate {
  border-radius: 1.7em 0.4em 1.7em 0.2em;
}

.terms-button {
  background-color: white;
  border: none;
  color: $font_blue;
  font-weight: 300;
  margin-left: 12px;
  padding: 0;
}

// クラス定義で適用するcss
.span_border-bottom {
  border-bottom: solid 1px $navy;
}

.sm-letter {
  font-size: $large;
}

.is-fixed {
  background-color: rgba(255, 255, 255, 0.911) !important;
  position: fixed;
  top: -43px;
  transition: all  0.3s ease;
  width: 100%;
  z-index: 2;
}

.header-is-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}


.user-name {
  background-color: $very_light_gray;
  border-left: solid 10px $light_gray;
  font-size: $large;
  font-weight: 200;
  height: calc(100% - 32px);
  margin-bottom: auto;
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.default-page-title {
  border-bottom: groove 2px;
  border-image: linear-gradient(to right, #ffffff00 0%, #3763c4 30%, #82aed3 45% , #a661e6 60%, #529bfa 70%, #ffffff00 100%);
  border-image-slice: 1;
  font-size: $EXhuge;
  font-weight: 200;
  margin: 1rem auto 1rem;
  padding: 0.5em;
  text-align: center;
}

.danger-note {
  color: $danger_red;
  font-size: $normal;
  font-weight: 400;
  text-align: right;
  padding-top: 1rem;
}

.grayback_title {
  background: linear-gradient(to right, $light_gray 0, $light_gray 0.7rem, $very_light_gray 0.7rem, $very_light_gray 100%);
  display: inline-block;
  font-size: $huge;
  font-weight: 200;
  margin-bottom: 2rem;
  padding: $moderate 0.7rem $moderate 1.2rem;
}

.blue-back_link {
  background-color: rgba(10, 165, 255, 0.692);
  border-radius: 1.5em 0.5em 1.5em 0.5em;
  color: white !important;
  margin-top: 0.5rem;
  padding: 0.5em 1.2em !important;
}

// articles users indexと共用
.index-container {
  .page-title-wrapper {
    margin-bottom: 3rem;
    text-align: center;
  }

  .index-header_links {
    display: inline-block;
    margin-bottom: 2rem;
    a {
      background: linear-gradient(320deg, #0026ff6e 0%, #3d5ada7e 80%, #1eadff96 100%);
      border: solid 2px rgb(234, 239, 255);
      border-radius: 0.6rem 1.3rem 1.3rem 0.6rem;
      color: white;
      font-size: $large;
      font-weight: 300;
      letter-spacing: 0.1em;
      padding: 4px 14px 4px $wide;
      margin-bottom: $moderate;
      transition: 0.5s;
      &:hover{
        background: linear-gradient(320deg, #0026ffaf 0%, #3d5adab2 80%, #1eadffc7 100%);
      }
    }
  }
  
  .index-header {
    line-height: 2rem;
    margin-bottom: 1rem;
    .index-header_top {
      display: table;
      margin-bottom: 1rem;
      a {
        color: $font_blue;
        font-weight: 300;
        height: 1.8rem;
        padding: 1px $moderate;
        vertical-align: text-bottom;
        position: relative;
        &::after {
          background: linear-gradient(140deg, #206dfd 0%, #44b4ff 60%, #2ddfff 100%);
          bottom: 0;
          content: '';
          height: 2px;
          left: 5%;
          position: absolute;
          width: 90%;
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
        &:first-of-type {
          border-left: solid 3px $main_blue;
          border-right: dashed 2px $main_blue;
          padding: 0 1.8em;
        }
        &:last-of-type {
          border-right: solid 3px $main_blue;
          margin-right: 2rem;
          padding: 0 0.4em;
        }
      }
      .form-control {
        display: table-cell;
        height: 2rem;
        margin-right: 2rem;
        padding: 0.1rem 0.3rem;
        vertical-align: middle;
      }
      .contents_linkactive {
        &::before {
          background: linear-gradient(140deg, #67c7ff21 0%, #2c6fffd7 40%, #2c6fffd2 60%, #67c7ff21 100%);
          bottom: 0;
          content: '';
          height: 2px;
          left: 8%;
          position: absolute;
          width: 84%;
        }
      }
    }
    .index-header_bottom {
      margin-bottom: 1rem;
      margin-left: auto;
      form {
        .form-control {
          display: table-cell;
          vertical-align: middle;
          &:nth-child(2) {
            border-radius: 0.4em 0 0 0.4em;
            border-right: none;
            height: 2.1rem;
          }
          &:last-of-type {
            border-radius: 0 0.4em 0.4em 0;
            height: 2.1rem;
            padding: 0.1em 0.4em;
          }
        }
        .btn {
          display: table-cell;
          vertical-align: middle;
          height: 2rem;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  #articles-partial {
    padding: 0;
  }
  
  .indicate_keyword-container {
    margin-bottom: 1rem;
    .indicate_keyword {
      background: $very_light_gray;
      border: solid 1px $dark_gray;
      border-radius: 0.3rem;
      padding: 0.2em 0.5em;
      margin-right: 1.5rem;
    }
    a {
      border-bottom: solid 2px rgba(0, 0, 128, 0.37);
      color: $very_dark_gray;
      padding: $narrow $moderate;
    }
  }
}

// animate.css
.animate__animated.animate__bounce {
  --animate-duration: 1s;
}

// layouts
.main_wrapper > .wrapper {
  margin-bottom: 8rem;
  @include mq() {
    margin-top: 65px;
  }
}
// terms
.terms_container {
  .modal-dialog {
    width: 70vw;
    max-width: none;
    margin: 2rem auto;
    .modal-content {
      .modal-header {
        h1 {
          text-align: center;
          font-size: $huge;
          font-weight: 400;
          margin: 0 auto;
          width: 100%;
        }
      }
      .modal-body {
        padding: 1rem 2rem;
        h1 {
          text-align: center;
          font-size: $huge;
          font-weight: 400;
          margin: 2em auto 1em;
          width: 100%;
        }
        h2 {
          text-align: center;
          font-size: $EXlarge;
          font-weight: 300;
          p:last-of-type {
            margin-bottom: 2em;
          }
        }
        ul {
          border: none;
          ul {
            li {
              margin-left: 2em;
              list-style: circle;
            }
          }
        }
        li {
          font-size: $large;
          font-weight: 200;
          list-style: disc;
          margin-left: 2em;
        }
        p {
          border: none;
          letter-spacing: 0.1em;
          padding: 0;
        }
      }
      .modal-header {
        width: 100%;
      }
    }
  }
}

// sidebar
.flex-sidebar {
  background-color: white;
  padding-top: 2rem;
  padding-left: 1rem;
  width:17%;
}

.flex-contents {
  margin: 0 auto;
  padding-top: 2rem;
  width: 75%;
  @include mq() {
    width: 90%;
  }
}

.sidebar-container {
  background: linear-gradient(140deg, #6acfee 0%, #5b75e9 60%, #82a5e7 100%);
  border-radius: 1.0em 0.4em 1.0em 0.2em;
  margin-top: 0.5rem;
  padding: 0.3rem;
  .sidebar-wrapper {
    background-color: white;
    border-radius: 1.0em 0.4em 1.0em 0.2em;
    font-weight: 300;
    ul {
      margin: 0;
      padding: 0;
    }
    a {
      color: $font-blue;
      margin-left: 0.7em;
      position: relative;
      &::after {
        position: absolute;
        bottom: -6px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: linear-gradient(140deg, #fd8b20 0%, #ffd344 60%, #ffa42d 100%);
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
    .sidebar-main {
      border-bottom: 4px solid;
      border-image: linear-gradient(to left, #6C8CE7 0%, #73a4db 40%, #6c43ca 95%, #8a78f100 95%, #8a78f100 100%);
      border-image-slice: 1;
      li {
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, #5175e9 0%, #3a9cf7 30%, #8a78f1 94%, #8a78f100 94%, #8a78f100 100%);
        border-image-slice: 1;
        padding: 0.8rem 0;
        &:last-of-type {
          border: none;
        }
      }
      .sidebar_linkactive {
        position: relative;
        &::after {
          content: '';
          height: 1.4rem;
          width: 0.7rem;
          top: 25%;
          right: 0;
          background: linear-gradient(140deg, #4690ff4d 0%, #5D83E9 100%);
          border-radius: 0.7rem 0 0 0.7rem;
          position: absolute;
        }
      }
    }
    .sidebar-sub {
      li {
        border-bottom: 2px solid;
        border-image: linear-gradient(to right, #5175e9 0%, #3a9cf7 30%, #8a78f1 90%, #8a78f100 90%, #8a78f100 100%);
        border-image-slice: 1;
        color: $font_blue;
        padding: 0.5rem 0;
        &:last-of-type {
          border: none;
        }
      }
    }
  }
}

// ログインページ共用
#login-container {
  .form-wrapper {
    background: linear-gradient(140deg, #6acfee 0%, #5b75e9 60%, #82a5e7 100%);
    border-radius: 3.1em 0.5em 3.1em 0.2em;
    margin-bottom: 2rem;
    padding: 0.8rem;
    label {
      font-weight: 300;
      padding-right: 2em;
    }
    p {
      margin-bottom: 10px;
    }
    .form-control {
      height: 2em;
      min-width: 150px;
      width: 60%;
    }
    .form-intermediate {
      background-color: white;
      border-radius: 1.7em 0.5em 1.7em 0.2em;
      padding: 2.5rem 2rem;
      &:last-of-type {
        margin-top: 0.8rem;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        p {
          margin: 0;
        }
      }
      .password-form {
        margin-bottom: 2rem;
        padding-top: 2em;
      }
    }
    .form-intermediate_bottom {
      p {
        text-align: left;
      }
    }
    .input-id_wrapper {
      border-bottom: solid 1px $gray;
      .form-inline {
        &:last-of-type {
          margin-bottom: 1em;
        }
      }
      p {
        border-top: dashed 2px $light_gray;
        border-bottom: dashed 2px $light_gray;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}

// header
.header {
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #697fdf 0%, #3a9cf7 20%, #aac4fa 60%, #84beee 70%, #5287fa 100%);
  border-image-slice: 1;
  background-color: white;
  .navbar {
    padding-left: 0;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .navbar-collapse {
    width: 100%;
    .header-nav_top {
      border-bottom: groove 2px;
      border-image: linear-gradient(to right, #7688d6 0%, #a1bdd8 20% , #529bfa 70%, #a661e6 100%);
      border-image-slice: 1;
      padding-right: 8px;
      .nav-link {
        line-height: 2em;
        padding-left: 3em;
      }
      a {
        padding: 0;
        position: relative;
        &::after {
          position: absolute;
          bottom: -2px;
          left: 3em;
          content: '';
          width: calc(100% - 3em);
          height: 2px;
          background: linear-gradient(140deg, #fd8b20 0%, #ffd344 60%, #ffa42d 100%);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
    .header-nav_bottom {
      .nav-item {
        p {
          letter-spacing: 0;
          line-height: 40px;
          margin: 0;
          margin-top: 0.5rem;
        }
      }
      .nav-link {
        line-height: 1.5em;
        padding-top: 16px;
        padding-left: 3em;
      }
      .function_act {
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          left: 40px;
          content: '';
          width: calc(100% - 40px);
          height: 2px;
          background: linear-gradient(140deg, #fd8b20 0%, #ffd344 60%, #ffa42d 100%);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
      .blue-back_link {
        margin-left: 3rem;
        transition: .3s;
        @include mq() {
          display: inline-block;
        }
        &:hover {
          background-color: rgba(10, 165, 255, 0.897);
        }
      }
      .sample_login-button {
        background-color: rgba(255, 157, 10, 0.692);
        border-radius: 1.5em 0.5em 1.5em 0.5em;
        color: white !important;
        padding: 0.5em 1.2em !important;
        margin-left: 1rem;
        transition: .3s;
        &:first-of-type {
          margin-left: 0;
        }
        &:hover {
          background-color: rgba(255, 120, 10, 0.897);
        }
      }
    }
  }
}

.admin-header {
  background: linear-gradient(160deg, white 0%, white 55%, rgb(243, 247, 255) 95%, rgb(242, 247, 255) 100%);
  .navbar{
    #NavberRight {
      a {
        margin-left: 2rem;
        position: relative;
        padding-left: 8px;
        &::after {
          position: absolute;
          bottom: -6px;
          left: 0;
          content: '';
          width: 100%;
          height: 2px;
          background: linear-gradient(140deg, #fd8b20 0%, #ffd344 60%, #ffa42d 100%);
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform .3s;
        }
    
        &:hover::after {
          transform: scale(1, 1);
        }
      }
      .header-nav_bottom {
        .nav-item {
          #admin_mark {
            border: solid 1px $danger_red;
            border-radius: 0.5em;
            padding: 0 0.5em;
            height: 2em;
            line-height: 2em;
            vertical-align: middle;
            margin-top: 12px;
          }
        }
      .fixed-bland {
        height: 3rem;
        line-height: 50px;
        border-radius: 0.9em 0.4em 0.9em 0.2em;
      }
      }
      #user-link {
        padding-left: 0.5rem;
        margin-left: 0;
      }
    }
  }
}

#staff-header {
  background: none;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #ffc880 0%, #ffca99 20%, #ffe343 60%, #ffc251 70%, #fde5a4 100%);
  border-image-slice: 1;
}

#NavberLeft {
  background-color: rgba(255, 255, 255, 0.89);
  border: solid 2px rgba(0, 140, 255, 0.829);
  border-radius: 0.2rem 1rem 1rem 1rem;
  padding: 1rem;
  position: fixed;
  top: 52px;
  left: 0.5rem;
  width: 40%;
  min-width: 220px;
  z-index: 3;
  li {
    padding: 0.5em 0.5em;
    border-bottom: solid 1px $gray;
    a {
      color: $navy;
    }
  }
  @include min_mq() {
    display: none !important;
  }
}

#NavberRight {
  li {
    margin-left: auto;
  }
}

.fixed-bland {
  background: linear-gradient(140deg, #6acfee 0%, #5b75e9 60%, #82a5e7 100%);
  border-radius: 1.5em 0.4em 1.5em 0.2em;
  color: white !important;
  font-weight: 600;
  font-size: $huge;
  letter-spacing: 0.15em;
  line-height: 65px;
  margin-left: 0.5rem;
  padding-top: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: all  0.3s ease;
}

#header-small-logo {
  background: linear-gradient(140deg, #6acfeeda 0%, #5b75e9dc 60%, #82a5e7d8 100%);
  border: solid 3px white;
  border-radius: 1.0em 0.4em 1.0em 0.2em;
  font-weight: 500;
  font-size: $EXlarge;
  letter-spacing: 0.15em;
  line-height: 40px;
  transition: all  0.3s ease;
  position: fixed;
  top: 3px;
  z-index: 2;
}

.emptiness-a {
  display: none;
}

.toggle-nav-padding {
  padding-top: 8px !important;
  padding-bottom: 8px;
}

// footer
footer {
  padding: 2rem 3rem;
  background-color: $light_gray;
  p {
    margin: 0;
  }
}

// static-pages
// home
.rp_main-visual {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
  .main-visual_image {
    background-color: rgb(255, 230, 0);
    border-radius: 0 0 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 500px;
    position: relative;
    width: 45%;
    @include mq() {
      display: none;
    }
    img {
      border-radius: 0.5rem;
      padding: 0.15rem;
    }
    .main-visual-img {
      background-color: white;
      border: solid 2px $light_gray;
      width: 50%;
      z-index: 1;
    }
    .main-img-t-l {
      background: linear-gradient(150deg, rgb(57, 159, 255) 0%, rgb(91, 203, 255) 50%, rgba(154, 243, 255, 0.795) 100%);
      position: absolute;
      top: 15%;
      left: 5%;
      width: 50%;
    }
    .main-img-t-r {
      background: linear-gradient(150deg, rgb(57, 159, 255) 0%, rgb(91, 203, 255) 50%, rgba(154, 243, 255, 0.795) 100%);
      position: absolute;
      top: 20%;
      left: 57%;
      width: 40%;
    }
    .main-img-b {
      background: linear-gradient(150deg, rgb(57, 159, 255) 0%, rgb(91, 203, 255) 50%, rgba(154, 243, 255, 0.795) 100%);
      border-radius: 1rem;
      position: absolute;
      top: 55%;
      left: 30%;
      width: 55%;
    }
    .main-visual_whiteback {
      background-color: $very_light_gray;
      border-radius: 1rem;
      position: absolute;
      top: 50%;
      left: 15%;
      height: 20%;
      width: 50%;
    }
    .main-visual_grayback {
      border: solid 3px rgb(255, 255, 255);
      border-radius: 1rem;
      position: absolute;
      top: 15%;
      left: 60%;
      height: 40%;
      width: 25%;
    }
  }
  .main-visual_text {
    height: 100%;
    letter-spacing: 0.2em;
    padding: 4rem 1rem;
    position: relative;
    min-height: 500px;
    width: 55%;
    .background_art {
      position: absolute;
      height: 18vw;
      width: 22vw;
      top: 25%;
      left: 52%;
      background-color: $light_gray;
      border-radius: 67% 33% 42% 58% / 28% 58% 42% 72%;
      z-index: -1;
    }
    .background_subart {
      position: absolute;
      height: 23vw;
      width: 23vw;
      top: 24%;
      left: 50%;
      background-color: $very_light_gray;
      border-radius: 55% 45% 77% 23% / 36% 57% 43% 64%;
      z-index: -2;
    }
    h2 {
      font-size: $XXXhuge;
      font-weight: 800;
      letter-spacing: 0.15em;
      margin-bottom: 3rem;
      padding-bottom: 0.3em;
    }
    h3 {
      letter-spacing: 0.2em;
      margin-bottom: 3rem;
    }
    p {
      line-height: 2em;
      font-weight: 200;
      margin-bottom: 4rem;
    }
    .new-account_button {
      text-align: center;
    }
  }
}

// 背景のグレー部分
.gray-wrapper {
  background-color: $very_light_gray;
  margin: 0 auto;
  position: relative;
  width: 90vw;
  z-index: -3;
}

.gray-wrapper_headline {
  border-radius: 1.5rem 1.5rem 0 0;
}

.gray-wrapper_odd {
  background:linear-gradient(90deg,$very_light_gray 0%,$very_light_gray 50%,white 50%,white 100%);
}

.gray-wrapper_even {
  background:linear-gradient(90deg,white 0%,white 70%,$very_light_gray 30%,$very_light_gray 100%);
}

.gray-background-gap {
  background-color: $very_light_gray;
  border-radius: 0 0 1.5rem 0;
  margin: 0 auto;
  height: 2rem;
  width: 90vw;
  position: relative;
  z-index: -100;
}

.gray-background-gap2 {
  border-radius: 0 1.5rem 0 1.5rem;
  height: 8rem;
}

.gray-background-gap3 {
  border-radius: 1.5rem 0 1.5rem 0;
  height: 8rem;
}

.gray-background-gap_last {
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  height: 6rem;
  margin-bottom: 6rem;
}
// --------------
.headline-title {
  text-align: center;
  border-bottom: groove 2px;
  border-image: linear-gradient(to right, #ffffff00 0%, #fdde9b 30%, #ffb657cc 45% , #fde939 60%, #fdde9b 70%, #ffffff00 100%);
  border-image-slice: 1;
  padding-top: 1em;
  padding-bottom: 1rem;
}

.rp_contents {
  .rp_headline-wrapper {
    position: absolute;
    top: -40%;
    .rp_content_headline {
      background-color: white;
      border-radius: 1rem;
      padding: 1rem 3rem;
      position: relative;
      width: 81vw;
      &::after {
        /* 疑似要素で同じ大きさのboxを作り、position: absoluteで背面に表示 */
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 85%;

        /* ①疑似要素のボックスを影色で塗りつぶし */
        background-color: rgba(62, 62, 63, 0.486);
        /* ②ブラーフィルターでぼかす */
        filter: blur(25px);
        /* ③位置やサイズを調整 */
        transform: translate(0px, 18px) scale(0.97);
        /* ④乗算で重ねる */
        mix-blend-mode: multiply;
      }

      .headline-text {
        text-align: center;
        line-height: 1.7em;
        padding: 1rem 2rem 0;
      }
    }
  }

  .rp_content {
    margin-right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    &:last-child {
      margin-bottom: 0;
    }
    .main-content_image {
      padding: 1rem;
      height: 100%;
      width: 52%;
      position: relative;
      img {
        box-sizing: border-box;
        max-height: calc(400px - 2rem);
      }
      .content-img {
        align-items: center;
        background-color: white;
        border: solid 1px rgba(0, 0, 128, 0.096);
        border-radius: 0.7rem;
        box-shadow: 0px 0px 15px 0px rgba(165, 165, 165, 0.4);
        padding: 0.7rem;
      }
      .content-img_1 {
        border: solid 1px rgba(0, 0, 128, 0.096);
        border-radius: 1rem;
        padding: 0.5rem;
        width: 90%;
        box-shadow:0px 0px 15px 0px rgba(165, 165, 165, 0.4);
      }
      .content-img_2 {
        background-color: white;
        border: solid 1px rgba(0, 0, 128, 0.096);
        border-radius: 1rem;
        box-shadow: 0px 0px 10px 0px rgba(165, 165, 165, 0.4);
        padding: 0.7rem;
        position: absolute;
        top: 37%;
        left: 14%;
        width: 75%;
      }
      .comming_soon {
        width: 60%;
        margin-top: 8rem;
        margin-left: 5rem;
      }
    }
    .main_content_image_odd {
      padding-left: 1.5rem;
      padding-right: 0;
    }
    .main-content_text {
      background-color: white;
      border-radius: 1rem;
      height: 100%;
      min-height: 400px;
      width: 48%;
      padding: 1rem 2rem;
      position: relative;
      @include mq(lg) {
        width: 100%;
        min-height: 0;
      }
      &::after {
        /* 疑似要素で同じ大きさのboxを作り、position: absoluteで背面に表示 */
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
  
        /* ①疑似要素のボックスを影色で塗りつぶし */
        background-color: rgba(62, 62, 63, 0.384);
        /* ②ブラーフィルターでぼかす */
        filter: blur(15px);
        /* ③位置やサイズを調整 */
        transform: translateY(5px) scale(0.97);
        /* ④乗算で重ねる */
        mix-blend-mode: multiply;
      }
      h4 {
        padding: 0.8em 0;
        margin-bottom: 1.2em;
        border-bottom: groove 2px;
        border-image: linear-gradient(to right, #571bfccc 0%, #4255ff 30%, #3fa2ffcc 45%, #fdde9b00 90%, #ffffff00 100%);
        border-image-slice: 1;
      }
      p {
        line-height: 1.7em;
      }
    }
  }
  .rp_content_odd {
    .main-content_text {
      padding-right: 1.5em;
      position: relative;
    }
  }
  .rp_content_even {
    .main-content_text {
      padding-left: 1.5em;
    }
  }
}

.rp_contents_odd {
  margin-left: 5rem;
  @include mq(lg) {
    margin: 0.5rem;
  }
}

.rp_contents_even {
  margin-right: 5rem;
  @include mq(lg) {
    margin: 0.5rem;
  }
}

.rp_sub-contents {
  .headline-title {
    margin-bottom: 3rem;
  }
  .rp_sub-content {
    text-align: center;
    h4 {
      background-color: $very_light_gray;
      border-radius: 0.3em;
      font-size: $EXlarge;
      padding: $narrow $moderate;
      letter-spacing: 0.1;
      text-align: center;
    }
    .sub-content_image {
      height: 200px;
      padding: 1rem;
      margin-bottom: 0.5rem;
    }
    p {
      line-height: 1.5em;
      font-size: $large;
    }
  }
}

// arrow-icon
.arrow-down.icon {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .3);
  color: rgba(8, 37, 131, 0.425);
  position: fixed; 
  top: 90%;
  left: 92%;
  margin-left: 20px;
  margin-top: 2px;
  width: 3px;
  height: 44px;
  background-color: currentColor;
}
.arrow-down.icon:before {
  content: '';
  position: absolute;
  left: -11px;
  top: 16px;
  width: 25px;
  height: 25px;
  border-top: solid 3px currentColor;
  border-right: solid 3px currentColor;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.arrow-down.icon:after {
  content: 'scroll';
  position: absolute;
  left: 12px;
  top: -4px;
  width: 25px;
  height: 6px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.arrow-up.icon {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .5);
  color: rgba(8, 37, 131, 0.644);
  position: fixed; 
  top: 90%;
  left: 92%;
  margin-left: 20px;
  margin-top: 2px;
  width: 3px;
  height: 44px;
  background-color: currentColor;
}
.arrow-up.icon:before {
  content: '';
  position: absolute;
  left: -11px;
  top: 2px;
  width: 25px;
  height: 25px;
  border-top: solid 3px currentColor;
  border-right: solid 3px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.arrow-up.icon:after {
  content: 'Top';
  position: absolute;
  left: 10px;
  top: 18px;
  width: 25px;
  height: 6px;
  -webkit-transform: rotate(320deg);
          transform: rotate(320deg);
}


// User
// user form
// representative newのformと共有
.form-wrapper {
  background: linear-gradient(140deg, #6acfee 0%, #5b75e9 60%, #82a5e7 100%);
  border-radius: 4.5em 0.5em 4.5em 0.2em;
  margin-bottom: 2rem;
  padding: 1.5rem;
  .form-intermediate {
    background-color: white;
    border-radius: 2em 0.5em 2em 0.2em;
    padding: 3rem 2.3rem;
    input {
      border-radius: 1em 0.5em 1em 0.5em;
    }
    .form-group {
      margin-bottom: 2em;
      &:last-of-type {
        margin-bottom: 3em;
      }
      .form_note {
        font-size: $normal;
        font-weight: 300;
        letter-spacing: 0;
      }
    }
    .user-type_form {
      select {
        font-weight: 200;
        height: 2rem;
        border: solid 1px $gray;
      }
    }
    .terms-button {
      border-bottom: solid 2px rgb(0, 102, 255);
      font-size: 18px;
      transition: .2s;
      padding-right: 0.2em;
      &:hover {
        opacity: 0.6;
      }
    }
    .submit-btn {
      text-align: center;
    }
  }
  .form-intermediate-sub {
    border-radius: 1.5em 0.5em 2em 0.2em;
    margin-top: 1rem;
    padding: 1rem 2.3rem;
    p {
      border-bottom: solid 1px $gray;
      letter-spacing: 0;
      margin: 0;
      padding: 0.5rem 0;
      &:last-of-type {
        border: none;
      }
    }
  }
}

.user-form_container {
  .admin-new-note {
    background-color: $very_light_gray;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1em 0;
    padding: 0.5em 1em;
  }
  .required-item {
    &:after {
      content: '*';
      color: $danger_red;
      padding-left: 0.3em;
    }
  }
  .required-email {
    &:after {
      content: '* 情報発信メンバー登録の場合メールアドレス必須';
      color: $danger_red;
      font-size: 0.8em;
      padding-left: 0.5em;
    }
  }
}

#error_explanation li {
  color: rgb(201, 36, 36);
  list-style: square;
}

// User/index
.users-container {
  .users_other-link {
    a {
      background: linear-gradient(320deg, #0026ff6e 0%, #3d5ada7e 60%, #0872af96 100%);
    }
  }
  .users_header {
    .users_header-top {
      a {
        &::after {
            background: linear-gradient(140deg, #a46bff 0%, #44b4ff 60%, #78ebff 100%);
        }
        &:first-of-type {
          border-left: solid 3px rgb(110, 78, 252);
          border-right: dashed 2px rgba(110, 78, 252, 0.658);
          padding: 0 0.4em;
        }
        &:last-of-type {
          border-right: solid 3px rgb(110, 78, 252);
          margin-right: 2rem;
          padding: 0 0.4em;
        }
      }
      .contents_linkactive {
        &::before {
          background: linear-gradient(140deg, #67c7ff21 0%, #5a2cffd7 40%, #6b2cffd2 60%, #67c7ff21 100%);
        }
      }
    }
  }
}

#users-partial {
  padding-left: 0;
  .user-container {
    border: solid 2px $gray;
    border-radius: 1rem 0.2px 0.2px 0.2px;
    padding: $narrow $moderate;
    padding-left: 1.8rem;
    margin: 0 4rem 1rem;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border-radius: 1rem 0.2px 0.2px 0.2px;
      background: linear-gradient(160deg, #6bb9d8 0%, #5a7bd4 60%, #3f4cffc7 80% , #21a6ff 100%);
      display: block;
      z-index: -1;
      top: 0;
      left: 0;
      width: 0.8rem;
      height: 100%;
    }
    .user-wrapper {
      width: 100%;
      .user-header_container {
        height:60%;
        border-bottom: solid 1px $gray;
        p {
          margin: auto 0;
        }
        .user-name {
          font-size: $EXlarge;
          font-weight: 200;
          height: 1.5em;
          line-height: 1.3em;
          margin: 0.3em 2em 0.3em 0;
        }
        .user-header_sender {
          border-bottom: solid 2px $navy;
          margin-right: 3em;
        }
        .user-header_context {
          margin-left: auto;
          margin-right: 1rem;
          span {
            &:first-of-type{
              background-color: $light_gray;
              border-right: dashed 2px $gray;
              padding: 4px 0.5em;
            }
            &:last-of-type {
              background-color: $very_light_gray;
              padding: 4px 0.5em;
            }
          }
        }
      }
      .user-footer_container {
        p {
          margin: 0.3em 4em 0.3em 0;
          a {
            color: $navy;
            font-size: $large;
            border-bottom: solid 1px rgb(0, 0, 158);
          }
        }
        .user-footer_created {
          color: $very_dark_gray;
          font-size: $normal;
          margin: auto 0;
          margin-right: 1rem;
          span {
            &:first-of-type{
              background-color: $light_gray;
              border-right: dashed 2px $gray;
              padding: 4px 0.5em;
            }
            &:last-of-type {
              background-color: $very_light_gray;
              padding: 4px 0.5em;
            }
          }
        }
      }
    }
    .user-header_admin {
      border: solid 1px $danger_red;
      border-radius: 0.3em;
      padding: $narrow $moderate;
    }
    .user_admin-buttons {
      border-left: solid 1px $gray;
      padding: $narrow $moderate $narrow 12px;
      width: 160px;
      a {
        font-size: 14px;
        font-weight: 300;
        margin: auto 0;
      }
      .admin-grant_authority {
        color: rgba(6, 0, 97, 0.4);
        border-bottom: solid 1px rgba(20, 8, 177, 0.4);
        transition: 0.2s;
        &:hover {
          color: rgba(6, 0, 97, 0.8);
          border-bottom: solid 1px rgba(20, 8, 177, 0.8);
        }
      }
      .admin-deprivation_authority {
        color: rgba(0, 58, 97, 0.4);
        border-bottom: solid 1px rgba(0, 32, 80, 0.4);
        transition: 0.2s;
        &:hover {
          color: rgba(0, 82, 136, 0.8);
          border-bottom: solid 1px rgba(0, 35, 58, 0.8);
        }
      }
      .user-delete_button {
        color: rgba(138, 39, 0, 0.4);
        border-bottom: solid 1px rgba(196, 66, 15, 0.4);
        transition: 0.2s;
        &:hover {
          color: rgba(165, 47, 0, 0.8);
          border-bottom: solid 1px rgba(214, 68, 10, 0.8);
        }
      }
    }
  }
  .user-receiver {
    &::after {
      position: absolute;
      content: '';
      border-radius: 1rem 0.2px 0.2px 0.2px;
      background: linear-gradient(160deg, #ffdd7f 0%, #ffb26b 60%, #ff8c3fc7 80% , #ffc421 100%);
      display: block;
      z-index: -1;
      top: 0;
      left: 0;
      width: 0.8rem;
      height: 100%;
    }
    .user-wrapper {
      .user-header_container {
        .user-header_sender {
          border-bottom: solid 2px $orange;
        }
      }
    }
  }
}

// user edit
.delete-link_button {
  border-bottom: solid 2px rgb(255, 171, 137);
  color: $gray;
  padding-bottom: $moderate;
  transition: all 0.2s;
  &:hover {
    color: $dark_gray;
    border-bottom: solid 2px rgb(230, 101, 50);
  }
}

// user complete
.complete-table {
  margin-top: 3rem;
  margin-bottom: 2rem;
  td {
    padding: 0.2em 0.4em;
    margin: 0.5em;
    &:last-of-type {
      border-bottom: solid 1px $gray;
    }
  }
  .table-td-name {
    background: linear-gradient(to right, $navy 0.2rem, $light_gray 0.2em, $light_gray 100%);
    font-weight: 300;
    width: 10em;
  }
  .table-td-content {
    padding-left: 1em;
    font-weight: 200;
  }
}

// Representative
// new
.rep-new_container {
  .form-wrapper {
    max-width: 700px;
    margin: 3rem auto 0;
    .form-group {
      &:last-of-type {
        margin-bottom: 2rem
      }
    }
  }
}

// show
.plans-container {
  background-color: $very_light_gray;
  margin-bottom: 2rem;
  position: relative;
  @include mq() {
    border-radius: 1.2rem 0.2rem 0.2rem 0.2rem;
  }
  &::after {
    /* 疑似要素で同じ大きさのboxを作り、position: absoluteで背面に表示 */
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* ①疑似要素のボックスを影色で塗りつぶし */
    background-color: rgba(62, 62, 63, 0.486);
    /* ②ブラーフィルターでぼかす */
    filter: blur(10px);
    /* ③位置やサイズを調整 */
    transform: translateY(5px) scale(1);
    /* ④乗算で重ねる */
    mix-blend-mode: multiply;
  }
  .plans-table_title {
    border-right: dashed 2px rgb(59, 60, 114);
    border-radius: 1em 0 0 1em;
    padding: 1rem;
    margin: 0.2rem 0;
    @include mq() {
      border-right: none;
      border-radius: 1.2rem 0.2rem 0.2rem 0.2rem;
      border-bottom: dashed 2px rgb(59, 60, 114);
    }
    h2 {
      font-size: $EXlarge;
      font-weight: 400;
    }
  }
  .plans-table_contents {
    background-color: white;
    border-radius: 0 1em 1em 0;
    padding: 0.5rem 1rem;
    padding-right: 1rem;
    table {
      width: 100%;
    }
    tr {
      border-top: solid 1px $gray;
      width: 100%;
      &:first-of-type {
        border: none;
        @include mq() {
          border-right: none;
          border-radius: 1.2rem 0.2rem 0.2rem 0.2rem;
          border-bottom: dashed 2px rgb(59, 60, 114);
        }
      }
      &:nth-child(2) {
        border-top: solid 2px $gray;
      }
    }
    th {
      padding-bottom: 0.2rem;
      &:last-of-type {
        text-align: center;
      }
    }
    td {
      padding-right: 1rem;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
    .tr-title {
      @include mq() {
        display: none;
      }
    }
    .rep-show_plantitle {
      color: $dark_gray;
      width: 50%;
    }
    .user_modal-link {
      font-weight: 300;
      transition: 0.5s;
      &:hover {
        border-bottom: solid 1px $navy;
      }
    }
    .member_name {
      color: rgb(66, 35, 0);
      font-weight: 300;
      margin: 0;
    }
    .article_complete-wrapper {
      height: 100%;
      font-size: $normal;
      padding: 0;
      .article_completed-icon {
        border-left: solid 1px $gray;
        line-height: 2.2em;
        font-size: $large;
        margin: 0.6rem;
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
      form {
        margin-top: 0.9em;
      }
      .not-complete-function {
        min-width: 170px;
        position: relative;
        padding: 0;
        width: 100%;
        &:after {
          background-color: $gray;
          content: '';
          position: absolute;
          top: 1.5em;
          left: 28%;
          height: 0.2rem;
          width: 44%;
        }
      }
      .completed-list-link {
        border-bottom: solid 1px $navy;
        margin-top: 0.9em;
        padding: $narrow $moderate;
        a {
          color: $navy;
          font-size: 14px;
          transition: 0.5s;
          &:hover {
            color: rgb(42, 71, 167);
          }
        }
      }
    }

    .plans-aritcle {
      .rep-show_plantitle a {
        border-left: solid 3px $orange;
        padding-left: 0.7em;
      }
    }

    .information-aritcle {
      .rep-show_plantitle a {
        border-left: solid 3px $main_blue;
        padding-left: 0.5em;
      }
    }
  }
}

.today-plans_container {
  border: solid 1px $navy;
}

.end-plans_container {
  border: solid 1px $orange;
}

.start-plans_container {
  border: solid 1px $orange;
}

.emergency-plans_container {
  border: solid 1px $danger_red;
  margin-bottom: 5rem;
  .plans-table_title {
    background-color: rgba(245, 239, 239, 0.589);
    h2 {
      color: $danger_red;
    }
  }
  &::after {
    /* 疑似要素で同じ大きさのboxを作り、position: absoluteで背面に表示 */
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* ①疑似要素のボックスを影色で塗りつぶし */
    background-color: rgba(240, 91, 46, 0.486);
    /* ②ブラーフィルターでぼかす */
    filter: blur(12px);
    /* ③位置やサイズを調整 */
    transform: translateY(5px) scale(1);
    /* ④乗算で重ねる */
    mix-blend-mode: multiply;
  }
}

// weather
.weather-wrapper {
  font-size: $normal;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin-bottom: 3rem;
  .weather-city {
    letter-spacing: 0.2em;
    form {
      height: 2.5rem;
      line-height: 2.5rem;
      .weather-form-input {
        vertical-align: middle;
      }
      #user_city_id {
        margin-right: 1rem;
      }
    }
    p {
      background-color: #2599f8dc;
      border-radius: 0.5rem 0.5rem 0 0;
      color: white;
      font-size: $EXlarge;
      font-weight: 400;
      letter-spacing: 0.3rem;
      margin: 0 2rem 0 0;
      padding: 0.3rem 1rem 0.5rem;
    }
  }
  #weather {
    background-color: #2599f8dc;
    border-radius: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .weather-report {
    background-color: white;
    img {
      width: 60%;
    }
    .weather-date {
      font-size: $normal;
      font-weight: 300;
      margin: 0;
    }
  }
}

// calendar
#calendar {
  margin-bottom: 5rem;
  @include min_mq(lg) {
    width: 85%;
    margin: 5rem auto;
  }
}

.fc-state-default {
  background-color: rgba(255, 255, 255, 0.986) !important;
  background-image: none !important;
  border: solid 3px rgba(0, 13, 71, 0.788) !important;
  transition: background-color 1s;
  &:hover {
    background-color: rgb(185, 196, 247) !important;
  }
}

.fc-day-grid-event[data-type='information'] {
  border: solid 1px rgb(91, 176, 233) !important;
  background-color: rgba(175, 218, 238, 0.616) !important;
  color: rgb(15, 43, 80) !important;
}

.fc-day-grid-event[data-type='plans'] {
  border: solid 1px rgb(233, 212, 91) !important;
  background-color: rgba(255, 230, 121, 0.753) !important;
  color: rgb(15, 43, 80) !important;
}

.fc-state-active {
  background-color: rgba(0, 13, 71, 0.788) !important;
  color: rgba(255, 255, 255, 0.856) !important;
}

// representative login
#login-container {
  .rep_login-form {
    .form-wrapper {
      .grayback_title {
        font-size: $large;
        text-align: left;
      }
      .form-group {
        border-top: solid 1px $light_gray;
        border-bottom: solid 1px $light_gray;
        margin-bottom: 1rem;
        padding-top:0.5em;
        padding-bottom:0.5em;
      }
      .form-inline {
        padding: 0.7em;
      }
      .btn {
        text-align: center;
      }
    }
    .form-intermediate {
      text-align: center;
      .grayback_title_div {
        padding-left: 0.5rem;
        text-align: left;
        width: 100%;
      }
    }
  }
}

// rep new_admin
.admin-new_container {
  .admin-users_note {
    background-color: $very_light_gray;
    border: solid 1px $light_gray;
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 1rem 2rem;
    width: 98%;
    max-width: 1000px;
  }
  .user-form_container {
    width: 98%;
    max-width: 700px;
    .require_note {
      color: $danger_red;
    }
  }
}

// Article
// form
.emergency-label {
  color: $danger_red;
}

// index
// articles users indexと共用
.articles-container {
  .page-title-wrapper {
    margin-bottom: 3rem;
    text-align: center;
  }

  .index-header_links {
    display: inline-block;
    margin-bottom: 2rem;
    a {
      background: linear-gradient(320deg, #0026ff6e 0%, #3d5ada7e 80%, #1eadff96 100%);
      border: solid 2px rgb(234, 239, 255);
      border-radius: 0.6rem 1.3rem 1.3rem 0.6rem;
      color: white;
      font-size: $large;
      font-weight: 300;
      letter-spacing: 0.1em;
      padding: 4px 14px 4px $wide;
      margin-bottom: $moderate;
      transition: 0.5s;
      &:hover{
        background: linear-gradient(320deg, #0026ffaf 0%, #3d5adab2 80%, #1eadffc7 100%);
      }
    }
  }
  
  .index-header {
    line-height: 2rem;
    margin-bottom: 1rem;
    .index-header_top {
      display: table;
      margin-bottom: 1rem;
      a {
        color: $font_blue;
        font-weight: 300;
        height: 1.8rem;
        padding: 1px $moderate;
        vertical-align: text-bottom;
        position: relative;
        &::after {
          background: linear-gradient(140deg, #206dfd 0%, #44b4ff 60%, #2ddfff 100%);
          bottom: 0;
          content: '';
          height: 2px;
          left: 5%;
          position: absolute;
          width: 90%;
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform 0.3s;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
        &:first-of-type {
          border-left: solid 3px $main_blue;
          border-right: dashed 2px $main_blue;
          padding: 0 1.8em;
        }
        &:last-of-type {
          border-right: solid 3px $main_blue;
          margin-right: 2rem;
          padding: 0 0.4em;
        }
      }
      .form-control {
        display: table-cell;
        height: 2rem;
        margin-right: 2rem;
        padding: 0.1rem 0.3rem;
        vertical-align: middle;
      }
      .contents_linkactive {
        &::before {
          background: linear-gradient(140deg, #67c7ff21 0%, #2c6fffd7 40%, #2c6fffd2 60%, #67c7ff21 100%);
          bottom: 0;
          content: '';
          height: 2px;
          left: 8%;
          position: absolute;
          width: 84%;
        }
      }
    }
    .index-header_bottom {
      margin-bottom: 1rem;
      margin-left: auto;
      form {
        .form-control {
          display: table-cell;
          vertical-align: middle;
          &:nth-child(2) {
            border-radius: 0.4em 0 0 0.4em;
            border-right: none;
            height: 2.1rem;
          }
          &:last-of-type {
            border-radius: 0 0.4em 0.4em 0;
            height: 2.1rem;
            padding: 0.1em 0.4em;
          }
        }
        .btn {
          display: table-cell;
          vertical-align: middle;
          height: 2rem;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  #articles-partial {
    padding: 0;
  }
  
  .indicate_keyword-container {
    margin-bottom: 1rem;
    .indicate_keyword {
      background: $very_light_gray;
      border: solid 1px $dark_gray;
      border-radius: 0.3rem;
      padding: 0.2em 0.5em;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
    a {
      border-bottom: solid 2px rgba(0, 0, 128, 0.37);
      color: $very_dark_gray;
      padding: $narrow $moderate;
    }
  }

  .article-container {
    background: linear-gradient(to right, $navy 0%, $navy 0.7rem, #ffffff 0.7rem, #ffffff 100%);
    border: solid 2px $gray;
    border-radius: 1rem 0.2px 0.2px 0.2px;
    padding: $narrow 1.8rem;
    margin-bottom: 1rem;
    transition-duration: 0.2s;
    vertical-align: center;
    &:hover {
      transform: scale(1.03);
      opacity:1;
    }
    .article-header_container {
      border-bottom: solid 1px $gray;
      color: $very_dark_gray;
      align-items: center;
      p {
        font-weight: 300;
        line-height: 1.8rem;
        margin: $moderate 0;
      }
      .article_type {
        border: solid 1px $font_blue;
        border-radius: 0.5em;
        color: $font_blue;
        padding: 0.2em 0.6em;
        margin-left: 0.5rem;
      }
      .article-date_wrapper {
        align-items: center;
        p {
          color: black;
          font-size: $large;
          font-weight: 200;
          letter-spacing: 0;
          padding: 0 $moderate;
        }
        .article-date_content {
          border-bottom: solid 1px $gray;
        }
        span { 
          font-size: $normal;
        }
      }
    }
    .article-content_container {
      border-bottom: solid 1px $gray;
      color: $dark_gray;
      font-size: 0.9rem;
      padding: 0.8rem;
    }
    .article-footer_container {
      font-size: $large;
      font-weight: 300;
      line-height: 2rem;
      margin: 4px 0;
      a {
        display: inline-block;
        vertical-align: middle;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        color: $dark_gray;
        margin: $narrow 0;
      }
      .user_modal-link {
        border-bottom: solid 2px $main_blue;
        height: 60%;
      }
      .member_name {
        font-size: $large;
        border-bottom: solid 2px $gray;
      }
    }
  }
  
  .article-plans {
    background: linear-gradient(to right, $orange 0%, $orange 0.7rem, #ffffff 0.7rem, #ffffff 100%);
  }
}

// article show indexと共用
.article-header_emergency {
  background-color: $light_danger_red;
  border-radius: 0.2em;
  color: white;
  font-size: $large;
  padding: $narrow $moderate;
}

.article_complete-wrapper {
  a {
    margin: auto 0;
  }
}

.article_complete-rabel {
  background-color: $light_gray;
  border-right: dashed 2px $gray;
  margin: 0;
}

.article_completed-icon {
  border-left: none;

  background-color: $very_light_gray;
  border-right: solid 1px $gray;
  color: black;
  font-weight: 300;
  margin-right: 1rem;
  padding: 0 $wide;
}

.completed-list-link {
  background-color: $very_light_gray;
  a {
    font-weight: 200;
    padding-left: $moderate;
    padding-right: $moderate;
    color: $navy;
    transition: 0.5s;
    &:hover {
      color: rgb(71, 104, 211);
    }
  }
}

.article_complete-icon {
  background: linear-gradient(to top, #ffffff 0, #ffffff 0.09rem, $navy 0.09rem, $navy 0.30rem, #ffffff 0.30rem, #ffffff 100%);
}

.article_incomplete-icon {
  background: linear-gradient(to top, #ffffff 0, #ffffff 0.09rem, $orange 0.09rem, $orange 0.30rem, #ffffff 0.30rem, #ffffff 100%);
}

// show
.article-show_date {
  text-align: right;
  p {
    border: solid 1px $dark_gray;
    border-radius: 0.2rem;
    display: inline-block;
    padding: $narrow $moderate;
  }
  .article_start-date {
    border-left: solid 1px $dark_gray;
    border-right: solid 2px $dark_gray;
    margin-right: 1rem;
    padding-left: 0.2rem;
    padding-right: 1rem;
  }
  .article_end-date {
    border-left: solid 1px $dark_gray;
    padding-left: 0.2rem;
  }
}

.article-show_container {
  border: solid 1px $dark_gray;
  border-radius: 1.2rem 0.2rem 0.2rem 0.2rem;
  padding: 1rem 1rem 0.7rem;
  .article-show_title {
    border-bottom: solid 2px $gray;
    font-size: $EXlarge;
    font-weight: 400;
    padding-left: 2rem;
    p {
      margin-bottom: $moderate;
    }
  }
  .article-show_content {
    border-bottom: solid 2px $gray;
    padding: 0;
    .article-show_content-top {
      margin: 0.8rem 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: 300;
    }
    .article-show_content-tag {
      border-top: dashed 2px $gray;
      font-size: $normal;
      margin: 0;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      span {
        border-left: solid 1px $light_gray;
        margin-left: 1em;
        padding-left: 1em;
      }
    }
  }
  .article-show_footer {
    p {
      margin: 0;
      margin-top: 0.5rem;
      line-height: 2em;
      padding: $moderate $moderate;
      text-align: center;
    }
    .article-created-at {
      font-size: $large;
      margin-right: 3rem;
    }
    .article-show_downloads {
      border-bottom: dashed 2px $gray;
      ul {
        margin: 0;
        .download.icon {
          color: rgb(117, 117, 117);
          position: absolute;
          margin-left: 2px;
          margin-top: 17px;
          width: 16px;
          height: 4px;
          border-radius: 1px;
          border: solid 2px currentColor;
          border-top: none;
        }
        .download.icon:before {
          content: '';
          position: absolute;
          left: 5px;
          top: -13px;
          width: 2px;
          height: 14px;
          background-color: currentColor;
        }
        .download.icon:after {
          content: '';
          position: absolute;
          left: 2px;
          top: -8px;
          width: 8px;
          height: 8px;
          border-top: solid 2px currentColor;
          border-right: solid 2px currentColor;
          -webkit-transform: rotate(135deg);
                  transform: rotate(135deg);
        }
        li {
          padding-top: 0.4em;
          padding-bottom: 0.4em;
        }
        span {
          padding-left: 1.7em;
        }
      }
    }
    .article_complete-wrapper {
      align-items: center;
      .article_completed-icon {
        margin-right: 1rem;
      }
      form {
        margin-top: 0.6rem;
        .btn {
          font-size: $large;
          margin: auto 0;
          padding: 0.4em 0.6em;
        }
      }
      .article_complete-rabel {
        background-color: $light_gray;
      }
    }
  }
}

.article-show_info {
  background: linear-gradient(135deg, #ffffff 0, #ffffff 0.8rem, $navy 0.8rem, $navy 1.8rem, #ffffff 1.8rem, #ffffff 100%);
}

.article-show_plans {
  background: linear-gradient(135deg, #ffffff 0, #ffffff 0.8rem, $orange 0.8rem, $orange 1.8rem, #ffffff 1.8rem, #ffffff 100%);
}

.article-show_buttons {
  margin-top: 1rem;
}
.bottom-links {
  color: $font_blue;
  font-weight:200;
  letter-spacing: 0.1em;
  padding: 0.3em;
  transition: color 0.5s;
}
.bottom-links_left {
  border: solid 1px rgb(0, 183, 255);
  border-top: none;
  border-left: none;
  border-radius: 0 0 0.3em 0;
}
.bottom-links_center {
  border: solid 1px $main_blue;
  border-top: none;
  border-radius: 0 0 0.3em 0.3em;
}
.bottom-links_right {
  border: solid 1px rgb(119, 0, 255);
  border-top: none;
  border-right: none;
  border-radius: 0 0 0 0.3em;
  padding-right: 1em;
}

// article new
#article-form-intermediate {
  div {
    padding: 0.8rem;
  }

  input {
    border-radius: 0.1em;
  }

  label {
    font-weight: 300;
    border-bottom: solid 1px $navy;
  }

  .form-border {
    border-bottom: solid 1px $gray;
  }

  .form-border-dashed {
    border-bottom: dashed 1px $gray;
  }

  .form-row {
    margin: 0 auto;
    width: 100%;
  }

  .form-group {
    padding: 0;
    margin: 0;
  }

  .article-form_top {
    padding-bottom: 1.5em;
    p {
      font-weight: 300;
      height: 38px;
      line-height: 38px;
      margin-bottom: 0;
      padding-right: 0.5em;
      width: 100%;
    }
  }

  .article-form_date {
    padding-top: 1.5rem;
    padding-bottom: 0.2rem;
    label {
      margin-right: 0.2em;
    }
    .article-header_emergency {
      border: none;
      padding-top: 0.07em;
      padding-bottom: 0.07em;
    }
    .form-control {
      margin-right: 2rem;
    }
    .form-check {
      margin: 0;
    }
  }

  .article-form_main {
    .form-control {
      height: 20em;
    }
  }

  .article-form_file {
    padding: 0.5rem 0.8rem 1.6rem;
    label {
      margin-bottom: 1rem;
    }
    input {
      margin-top: 0.3rem;
    }
  }

  .article_tag-form {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .btn-wrapper {
    border-top: solid 1px $gray;
    padding-top: 3rem;
    text-align: center;
  }
}

// edit
.article-edit_container {
  .article-show_buttons {
    font-size: $EXlarge;
    a {
      padding-left: 0.6em;
      padding-bottom: 0.5em;
      &:first-of-type {
        margin-right: 1rem;
      }
    }
  }
}

// account destroy
// new
.account-info-container {
  .account-info-commentary {
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-image: linear-gradient(to right, #ffffff00 0%, $gray 35%, $gray 65%, #ffffff00 100%);
    border-image-slice: 1;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 2rem 8rem;
  }
  .account-info-form {
    background-color: $very_light_gray;
    border: solid 2px $light_gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    label {
      font-size: $EXlarge;
      font-weight: 200;
      border-bottom: dashed 3px $gray;
      margin-bottom: 1rem;
    }
    .form-inline {
      margin: 0 auto;
      .form-control {
        margin-right: 1em;
      }
    }
  }
  #email {
    width: 25rem;
  }
}

// destroy edit
.confirm-destroy_container {
  .confirm-destroy_warning {
    border: solid 2px;
    border-image: linear-gradient(190deg, #ffc252 0%, #e67a59 45%, #e98a3c 100%);
    border-image-slice: 1;
    padding: 1rem 2rem 0.5rem;
    margin-bottom: 3rem;
    max-width: 950px;
    p {
      letter-spacing: 0.05em;
    }
    .text-center {
      border-bottom: solid 2px;
      border-image: linear-gradient(to right, #ffffff00 0%, #e9ac3c 30%, #ff9751 45%, #e9ac3c 70%, #ffffff00 100%);
      border-image-slice: 1;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .form-control {
    margin: 0 auto;
    max-width: 500px;
  }
  .btn {
    margin-top: 2rem;
  }
}

// password_resets
.resets_confirm_container {
  .form-control {
    margin: 0 auto;
    max-width: 500px;
  }
  .btn {
    margin-top: 2rem;
  }
}

// modal
.modal-content {
  position: relative;
  &::after {
    /* 疑似要素で同じ大きさのboxを作り、position: absoluteで背面に表示 */
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* ①疑似要素のボックスを影色で塗りつぶし */
    background-color: rgba(248, 248, 252, 0.671);
    /* ②ブラーフィルターでぼかす */
    filter: blur(17px);
    /* ③位置やサイズを調整 */
    transform: translateY(8px) scale(1.05);
    /* ④乗算で重ねる */
    mix-blend-mode: multiply;
  }
  .modal-header {
    padding: 0.5rem 1rem;
    margin-right: auto;
    h4 {
      font-size: $EXlarge;
      font-weight: 300;
      padding-left: 1rem;
    }
  }

  .modal-body {
    h5 {
      font-size: $large;
      font-weight: 300;
      padding-left: 2rem;
    }
    p {
      border-bottom: solid 1px $light_gray;
      padding-left: 2rem;
    }
  }
}

.modal-backdrop {
  background: linear-gradient(170deg, rgba(0, 0, 128, 0.459) 0%, rgba(55, 0, 128, 0.274) 40%, #76eaff63 100%);
}

// incomplete
// incomplete index
.incomplete-list_wrapper {
  padding: 0;
  @include min_mq(lg) {
    padding: 3rem;
  }
  p {
    margin: auto 0;
    line-height: 2em;
  }
  ol {
    padding: 0;
  }
  .incomplete-index-partial {
    border: solid 2px $gray;
    border-radius: 1rem 0.2px 0.2px 0.2px;
    font-size: $large;
    font-weight: 300;
    margin-bottom: 0.5em;
    padding: $narrow $moderate;
    padding-left: 1.8rem;
    position: relative;
    @include min_mq(lg) {
      margin: 0 4rem 0.5rem;
    }
    .dashed-top {
      height: 0.5rem;
      @include min_mq(lg) {
        border-top: dashed 2px $gray;
        margin-top: auto;
        margin-right: 0.8rem;
        width: 1.5rem;
      }
    }
    .incomplete-partial_name {
      font-size: $EXlarge;
      margin-right: 0.5em;
      width: 38%;
      @include mq(lg) {
        width: 100%;
        text-align: center;
      }
      a {
        position: relative;
        &::after {
          background-color: $navy;
          content: '';
          position: absolute;
          bottom: -0.3em;
          left: 0;
          height: 2px;
          width: 100%;
        }
      }
    }
    .incomplete-partial_status {
      background-color: $light_gray;
      margin-right: 2rem;
      padding: $narrow $moderate;
      @include mq(lg) {
        text-align: center;
        margin-right: 0;
      }
    }
    .incomplete-partial_email {
      border-bottom: solid 1px navy;
      font-size: $normal;
      margin-left: auto;
    }
  }

  .incomplete-user_wrapper {
    .incomplete-partial_status {
      border-bottom: solid 4px $orange;
    }
    &::after {
      position: absolute;
      content: '';
      border-radius: 0.4rem 0.2px 0.2px 0.2px;
      background: linear-gradient(160deg, #d8bb6b 0%, #ff714d 60%, #ff8c3fc7 80% , #ffc421 100%);
      display: block;
      z-index: -1;
      top: 0;
      left: 0;
      width: 0.8rem;
      height: 100%;
    }
  }

  .complete-user_wrapper {
    .incomplete-partial_status {
      background-color: $very_light_gray;
      border-bottom: solid 4px blue;
    }
    &::after {
      position: absolute;
      content: '';
      border-radius: 1rem 0.2px 0.2px 0.2px;
      background: linear-gradient(160deg, #6bb9d8 0%, #5a7bd4 60%, #3f4cffc7 80% , #21a6ff 100%);
      display: block;
      z-index: -1;
      top: 0;
      left: 0;
      width: 0.8rem;
      height: 100%;
    }
  }
}

// staff
// article
// new
#article-form-wrapper {
  .article-form_main {
    margin-top: 2rem;
    .form-control {
      height: 10rem;
    }
  }
  #article_content {
    margin-bottom: 2rem;
  }
}

// member
.member_container {
  .new_member-list {
    border-top: solid 2px $plans_blue;
    border-bottom: solid 2px $plans_blue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    text-align: center;
    p {
      font-size: $huge;
      border-bottom: solid 1px $gray;
    }
    li {
      background: linear-gradient(to right, $gray 0.3rem, $light_gray 0.3rem, $light_gray 100%);
      font-size: $EXlarge;
      font-weight: 200;
      margin: 1rem 2rem 0.6rem 0;
      padding: 0.2rem 1rem 0.3rem 1.2rem;
    }
  }
  .member-form {
    background: linear-gradient(160deg, white 0%, white 30%, $very_light_gray 100%);
    border: solid 2px $gray;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 60%;
    min-width: 300px;
    padding: 2rem 4rem;
    @include mq() {
      width: 100%;
    }
    .field {
      margin: 0;
    }
    .actions {
      text-align: center;
      .btn {
        border-radius: 1.2rem 0.6rem 1.2rem 0.2rem;
      }
    }
  }
}

.members_links {
  text-align: center;
  a {
    border-bottom: solid 2px rgb(0, 132, 255);
    color: $font_blue;
    display: inline-block;
    font-size: $EXlarge;
    font-weight: 200;
    padding-bottom: $moderate;
    transition: 0.5s;
    &:hover {
      border-bottom: solid 2px rgb(0, 204, 255);
      opacity: 0.6;
    }
  }
}

// members new
.members_index-wrapper {
  background-color: $very_light_gray;
  font-size: $EXlarge;
  font-weight: 200;
  margin: 3rem auto 3rem;
  padding: 1rem 2rem;
  width: 53%;
  @include mq(lg) {
    width: 100%;
  }
  a {
    color: $font_blue;
  }
  p {
    margin: 0;
  }
  .member-partial_container {
    background-color: white;
    padding: 0.2em 1em 0.2em 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .member_name {
      border-left: solid 6px rgb(0, 110, 255);
      padding-left: 3rem;
      padding-right: 2rem;
      .btn {
        margin-top: 0.3rem;
      }
      .js-member-messages {
        font-size: $large;
      }
    }
    .member-links {
      border-left: dashed 3px $gray;
      padding-left: 2rem;
      .color_blue { color: rgb(76, 142, 241) !important; }
      a {
        font-size: $large;
        border-bottom: solid 2px $dark_orange;
        margin-left: 1rem;
        padding: $narrow $moderate;
      }
    }
  }
}

// functions
.functions-container {
  margin-top: 3rem;
  .default-page-title {
    font-size: $huge;
  }
  .functions-wrapper {
    display: flex;
    margin-top: 6rem;
    @include mq() {
      display: block;
    }
    .functions_sidebar-main {
      background-color: $very_light_gray;
      border-left: solid 0.4rem rgb(0, 102, 255);
      border-radius: $moderate 1rem 1rem $moderate;
      margin-left: 1rem;
      margin-top: 5rem;
      ul {
        margin: 0;
        padding: $moderate $moderate $moderate 0;
        li {
          border-top: solid 1px rgb(78, 175, 255);
          padding: 1rem 1rem 1rem 1.5rem;
          &:first-of-type {
            border: none;
          }
          a {
            color: $font_blue;
            display: block;
            position: relative;
            &::after {
              position: absolute;
              bottom: -0.6em;
              left: -0.2em;
              content: '';
              width: 100%;
              height: 2px;
              background: linear-gradient(140deg, #fd8b20 0%, #ffd344 60%, #ffa42d 100%);
              transform: scale(0, 1);
              transform-origin: left top;
              transition: transform .3s;
            }
            &:hover::after {
              transform: scale(1, 1);
            }
          }
        }
      }
    }
    .animsition {
      width: 70%;
      margin: 0 auto;
      .functions_title-wrapper {
        text-align: center;
        h3 {
          background: linear-gradient(150deg, rgb(215, 221, 255) 0%, rgb(222, 247, 255) 50%, rgb(208, 209, 255) 100%);
          border: solid 2px $light_gray;
          border-left: dashed 4px $gray;
          border-right: dashed 4px $gray;
          font-size: $EXlarge;
          margin: 0 auto;
          padding: 1rem 2rem;
          width: 70%;
        }
        p {
          border-bottom: solid 2px;
          border-top: solid 2px;
          border-image: linear-gradient(to right, #ffffff00 0%, $gray 35%, $gray 65%, #ffffff00 100%);
          border-image-slice: 1;
          margin-top: 2rem;
          margin-bottom: 3rem;
          padding: 2rem 5rem;
        }
      }
      .functions_section-wrapper {
        background-color: $very_light_gray;
        border-radius: 1rem;
        padding: 2rem 3rem;
        section {
          background-color: white;
          border-radius: 0.5rem;
          margin-bottom: 1rem;
          padding: $moderate 12px;
        }
        .functions_section-title {
          background-color: white;
          border: solid 2px $light_gray;
          border-bottom: dashed 3px $gray;
          font-size: $EXlarge;
          margin: 0 auto;
          padding: 0.5rem 1rem;
          text-align: center;
        }
        h4 {
          background-color: $light_gray;
          border-bottom: solid 2px $gray;
          border-radius: 0.5rem 0.5rem 0 0;
          font-size: $EXlarge;
          font-weight: 300;
          margin: 0;
          padding-top: $moderate;
          padding-bottom: $moderate;
          text-align: center;
        }
        p {
          background-color: white;
          margin-bottom: 0.5rem;
          padding: $moderate 12px;
        }
      }
    }
  }
}

/* flash */
#flash_message {
  display: none;
  font-weight: 300;
  text-align: center;
  border-radius: 0 0 2rem 2rem;
}

.js-member-post-error {
  display: none;
}

.js-member-post-success {
  display: none;
}

/* auto-complete */
.ui-helper-hidden-accessible { display:none; }

// デバッグ表示
.debug_dump {
  background-color: rgb(211, 210, 210);
}
