<li class="user-container d-lg-flex justify-content-between user-<%= user.sender %>" id="user-<%= user.id %>">
  <div class="user-wrapper">
    <div class='user-header_container d-lg-flex'>
      <p class='user-header_name user-name'><%= user.name %></p>
      <p class='user-header_sender'>
        <%= user.sender_i18n %>
      </p>
      <p class='user-header_context'><span>部門・部署</span><span><%= user.context %></span></p>
      <% if user.admin? %>
        <p class='user-header_admin'>管理者</p>
      <%end%>
    </div>
    <div class='user-footer_container d-lg-flex justify-content-between'>
      <p><%= mail_to user.email %></p>
      <p class='user-footer_created'><span>作成日時</span><span><%= user.created_at.strftime('%Y/%m/%d') %></span></p>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class='user_admin-buttons d-lg-flex flex-column'>
      <%= button_to_change_admin(user) %>
      <%= button_to_delete_user(user) %>
    </div>
  <% end %>
</li>
