<% provide(:title, "ユーザー登録完了") %>

<div class='row'>
  <div class='col-xs-12 col-md-6 offset-md-3 complete-table'>
    <table class='table'>
      <tr><td class='table-td-name'>名前</td><td class='table-td-content'><%= @user.name %></td></tr>
      <tr><td class='table-td-name'>メンバータイプ</td><td class='table-td-content'><%= @user.sender_i18n %></td></tr>
      <tr><td class='table-td-name'>メールアドレス</td><td class='table-td-content'><%= @user.email %></td></tr>
      <tr><td class='table-td-name'>部署・所属名</td><td class='table-td-content'><%= @user.context %></td></tr>
      <tr><td class='table-td-name'>電話番号</td><td class='table-td-content'><%= @user.phone_number %></td></tr>
      <tr><td class='table-td-name'>ユーザーID</td><td class='table-td-content'><%= @user.staff_id %></td></tr>
    </table>
  </div>
  <div class='container complete-links text-center'>
    <%= link_to 'ユーザー一覧', representative_users_path(current_representative), class:'bottom-links_left bottom-links' %>
    <%= link_to '編集する', edit_representative_user_path(current_representative, @user), class:'bottom-links_center bottom-links' %>
    <%= link_to '次のユーザーを登録する', new_representative_user_path(current_representative), admin_user: false, class:'bottom-links_right bottom-links animsition-link' %>
  </div>
</div>
