<% provide(:title, "ユーザー編集") %>
<% provide(:button_text, "更新") %>

<div class='container'>
  <div class='row justify-content-between'>
    <div class="col-md-10 offset-md-1">
      <div class='container user-form_container'>
        <div class='page-title-wrapper'>
          <h1 class='default-page-title'><%= @user.name %>　ユーザー編集</h1>
        </div>
        <p class='danger-note'>*印は必須入力です。</p>
        <%= render 'shared/form', user: @user, representative: @representative, admin_user: false %>
        <%= link_to 'このユーザーを削除する', representative_user_path(current_representative, @user), method: :delete,
                                      data: { confirm: "ユーザー: #{@user.name}を削除します。この作業は取り消せません。
                                                        \n本当によろしいですか？" },
                                      class: 'delete-link_button' %>
      </div>
    </div>
  </div>
</div>
