<% provide(:title, 'ユーザー一覧') %>

<div class='users-container index-container'>
  <div class='container'>
    <div class='page-title-wrapper'>
      <h1 class='default-page-title'>ユーザー一覧</h1>
    </div>
    <div class='users_other-link index-header_links'>
      <%= link_to 'ユーザー登録を行う', new_representative_user_path(current_representative), class: 'navbar-brand' %>
    </div>
    <div class='navbar-collapse d-lg-flex users_header index-header'>
      <div class='users_header-top d-flex index-header_top'>
        <%= contents_link_item('情報発信ユーザー', representative_users_path(current_representative, sender: '情報発信メンバー'),
                               '情報発信メンバー') %>
        <%= contents_link_item('情報受信ユーザー', representative_users_path(current_representative, sender: '情報受信メンバー'),
                               '情報受信メンバー') %>
        <%= form_with url: representative_users_path(current_representative), method: :get, id: 'order-submit', local: true do |f| %>
          <%= f.hidden_field :sender, value: params[:sender] %>
          <%= f.hidden_field :keyword, value: params[:keyword] %>
          <%= f.select :order, { '登録日 降順':'created_at DESC', '登録日 昇順':'created_at ASC',
                                 '名前 降順':'name ASC', '名前 昇順':'name DESC' },
                               {selected: params[:order]}, {class: 'form-control user-order'} %>
        <% end %>
      </div>
      <div class='users_header-bottom index-header_bottom'>
        <ul class='navbar-nav'>
          <li class='form-inline'>
            <%= form_with url: representative_users_path(current_representative), method: :get, local: true do |f| %>
              <%= f.text_field :keyword, class: 'form-control' %><%= f.select :sender, ['情報発信メンバー', '情報受信メンバー'], {}, class: 'form-control' %>
              <%= f.submit '検索', name: nil, class:'btn btn-outline-dark' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <%= indicate_keyword('users') %>
    <% if @users.any? %>
      <ol id='users-partial'>
        <%= render @users %>
      </ol>
    <% else %>
      <h2>ユーザーが見つかりません。</h2>
    <% end %>
    <%= paginate @users %>
    <div class='custom-hidden-field'>
      <p class='hidden-field-type'></p>
    </div>
  </div>
</div>
