<% provide(:title, "ユーザー登録") %>
<% provide(:button_text, "登録") %>

<div class='container'>
  <div class='row justify-content-between'>
    <div class="col-md-8 offset-md-2">
      <div class='container user-form_container'>
        <h1 class='default-page-title'><%= @representative.name %>　ユーザー登録</h1>
        <p class='danger-note'>*印は必須入力です。</p>
        <%= render 'shared/form', user: @user, representative: @representative, admin_user: @admin_user %>
        <p class='admin-new-note'>まだ管理者ユーザーを登録していない方は<%= link_to 'こちら', representative_admin_signup_path(@representative), class: 'animsition-link', data: {"turbolinks"=>false} %></p>
      </div>
    </div>
  </div>
</div>
