<header class='header rp-header'>
  <nav class='navbar navbar-expand-md navbar-light'>
    <a class='header-logo navbar-brand emptiness-a'></a> <%# 画面サイズ縮小時トグルを右に配置するようの空aタグ %>
    <% if logged_in? %>
      <%= link_to 'ConneWat', representative_path(current_representative), class: 'header-logo navbar-brand fixed-bland',data: {"turbolinks"=>false} %>
    <% else %>
      <%= link_to 'ConneWat', root_path, class: 'header-logo navbar-brand fixed-bland', data: {"turbolinks"=>false} %>
    <% end %>
    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#Navber' aria-controls='Navber' aria-expanded='false' aria-label='レスポンシブ・ナビゲーションバー'><span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse flex-column' id='Navber'>
      <% if logged_in? %>
        <ul class="navbar-nav header-nav_top">
          <li class='nav-item'><%= link_to 'ユーザー登録(会員登録済み)', representative_login_path, class: 'nav-link animsition-link', data: {"turbolinks"=>false} %></li>
        </ul>
      <% else %>
        <ul class="navbar-nav header-nav_top">
          <li class='nav-item'><%= link_to 'ユーザー登録(会員登録済み)', representative_login_path, class: 'nav-link animsition-lin', data: {"turbolinks"=>false} %></li>
          <li class='nav-item'><%= link_to 'ログイン', login_path, class: 'nav-link animsition-link', data: {"turbolinks"=>false} %></li>
        </ul>
      <% end %>
      <ul class='navbar-nav header-nav_bottom'>
      <% if logged_in? %>
        <li class='nav-item'>
          <%= link_to "ユーザー: #{current_user.name}",
                      edit_representative_user_path(current_representative, current_user), class: 'nav-link' %>
        </li>
        <li class='nav-item'><%= link_to '機能一覧', functions_path, class: 'nav-link animsition-link', data: {"turbolinks"=>false} %></li>
        <li class='nav-item'><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link animsition-link' %></li>
      <% else %>
        <li class='nav-item'>
          <p class='d-flex'>（ポートフォリオ用機能）サンプルユーザーでログイン：
            <%= link_to '情報提供者', sender_login_path, class: 'nav-link animsition-link sample_login-button' %>
            <%= link_to '情報受信者', receiver_login_path, class: 'nav-link animsition-link sample_login-button' %>
          <p>
        </li>
        <li class='nav-item'><%= link_to '機能一覧', functions_path, class: 'nav-link' %></li>
        <li class='nav-item'><%= link_to '新規会員登録', new_representative_path, class: 'nav-link blue-back_link animsition-link', data: {"turbolinks"=>false} %></li>
      <% end %>
      </ul>
    </div>
  </nav>
</header>