<header class='header admin-header' id='staff-header'>
  <nav class='navbar navbar-expand-md navbar-light'>
    <a class='header-logo navbar-brand emptiness-a'></a> <%# 画面サイズ縮小時にメニュートグルを右に配置する為の空aタグ %>
    <%= link_to 'ConneWat', staff_representative_path(current_representative), class: 'header-logo navbar-brand fixed-bland d-none d-md-block',data: {"turbolinks"=>false} %>
    <button type='button' class='navbar-toggler header-logo fixed-bland' data-toggle='collapse' data-target='#NavberLeft' aria-controls='Navber' aria-expanded='false' aria-label='レスポンシブ・ナビゲーションバー'>ConneWat</button>
    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#NavberRight' aria-controls='Navber' aria-expanded='false' aria-label='レスポンシブ・ナビゲーションバー'><span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='NavberLeft'>
      <ul class='navbar-nav header-nav_bottom'>
        <li class='nav-item'><%= link_to('ホーム', current_representative, data: {"turbolinks"=>false}) %></li>
        <li class='nav-item'><%= link_to('連絡情報･予定一覧', representative_articles_path(current_representative)) %></li>
        <li class='nav-item'><%= link_to('連絡情報･予定の登録', new_representative_article_path(current_representative)) %></li>
        <li class='nav-item'><%= link_to('ユーザー一覧', representative_users_path(current_representative)) %></li>
        <li class='nav-item'><%= link_to('ユーザー登録', new_representative_user_path(current_representative), admin_user: false, class: 'animsition-link') %></li>
      </ul>
    </div>
    <div class='collapse navbar-collapse' id='NavberRight'>
      <ul class='navbar-nav header-nav_bottom'>
        <li class='nav-item'>
          <a class="user_modal-link nav-link" data-toggle="modal" data-target="#userModal">ユーザー: <%= current_user.name %></a>
        </li>
        <li class='nav-item'><%= link_to '機能一覧', functions_path, class: 'nav-link', data: {"turbolinks"=>false} %></li>
        <li class='nav-item'><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link animsition-link' %></li>
      </ul>
    </div>
  </nav>
</header>
<%= render 'shared/user_modal', user: current_user %>
