<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
  </head>
  <body>
    <div class="animsition">
      <div class='main_wrapper'>
        <%= render 'layouts/header' %>
        <% flash.each do |message_type, message| %>
          <div id='flash_message' class="alert alert-<%= bootstrap_alert(message_type) %>"><%= message %></div>
        <% end %>
        <div class='wrapper'>
          <%= yield %>
        </div>
        <%= debug(params) if Rails.env.development? %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
