<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <div class='main_wrapper'>
      <%= render 'layouts/staff_header' %>
        <% flash.each do |message_type, message| %>
          <div id='flash_message' class="alert alert-<%= bootstrap_alert(message_type) %>"><%= message %></div>
        <% end %>
      <div class='wrapper'>
        <div class='d-flex'>
          <div class='sidebar flex-sidebar d-none d-md-block'>
            <%= render 'shared/receiver_side_menu' %>
          </div>
          <div class='contents-wrapper flex-contents'>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= debug(params) if Rails.env.development? %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
